{{#with FLOW.selectedControl.selectedSurvey as form}}
<div id="form01" class="aformContainer">
	<nav class="newSurveyNav">
		<ul>
			<li><a class="previewNewSurvey">Preview</a></li>
			<li><a class="deleteSurvey">Delete</a></li>
		</ul>
	</nav>
	<ul class="formSummary">
		<li>Version<span class="formVersion">1.0</span></li>
		<li>ID<span class="formID">{{form.keyId}}</span></li>
		<li>Questions<span class="formQuestionCount">0</span></li>
	</ul>
	<section class="formDetails">
		<h3>Form basics</h3>
		{{#if view.showFormBasics}}
			<a {{action "toggleShowFormBasics" target="this"}} class="showCollapse">Collapse</a>
			<form class="surveyDetailForm">
				<label>Form Title</label>
				{{view Ember.TextField valueBinding="form.code"}}
				<label>Form Description</label>
				{{view Ember.TextField valueBinding="form.description"}}
				<label>Manage</label>
				<nav class="newSurveyNav">
					<ul class="manageStuff">
						<li><a class="manageTranslations">Manage translations &gt;</a></li>
						<li><a class="manageNotifications">Manage notifications &gt;</a></li>
					</ul>
				</nav>
			</form>
		{{else}}
			<a {{action "toggleShowFormBasics" target="this"}} class="showCollapse">Show</a>
		{{/if}}
	</section>
	<section class="surveyForm">
		<section id="questionSet">
			<section class="aQuestionSet mainContent" id="setIndex-01">
				<div id="ember25098" class="ember-view">
					<nav class="insertMenu groupActionMenu">
						<ul>
							<li><a data-ember-action="630" class="">Insert group here</a></li>
						</ul>
					</nav>
				</div>
				<div>
					<div class="questionGroupBlock">
						<header> <span class="qtnGroupHead">Group 1</span>
							<h1 class="qtnGroupTitle"><a></a></h1>
							<nav class="qtnGroupMenu">
								<ul>
									<li><a class="showQuestionGroup" id="">Show questions </a></li>
									<li><a class="editQuestionGroup" id="">Edit group name</a></li>
									<li> <a class="deleteQuestionGroup">Delete</a> </li>
									<li><a class="copyQuestionGroup" id="">Copy</a></li>
									<li><a class="moveQuestionGroup" id="">Move</a> </li>
								</ul>
							</nav>
						</header>
					</div>
					<nav class="insertMenu groupActionMenu">
						<ul>
							<li><a class="">Insert group here</a></li>
						</ul>
					</nav>
				</div>
			</section>
		</section>
	</section>
</div>
{{/with}}
