
<div class="manageTranslationsBlock">
    <section id="manageTranslations" class="">
       <section class="floats-in surveyTranslation">
    <h1>{{t _survey_translation}}</h1>
    <table id="languageOption">
      <!-- TABLE HEADER-->
      <thead>
        <tr>
          <th>{{t _default_language}}</th>
          <th>{{t _existing_translations}}</th>
          <th>{{t _add_new_translation}}</th>
        </tr>
      </thead>

      <!-- TABLE BODY: MAIN CONTENT-->
      <tbody>
        <tr>
          <td class="basicLang">{{FLOW.translationControl.defaultLang}}</td>
          <td class="existingLang"><ul>
             {{#each trans in FLOW.translationControl.translations}}
              <li><a {{action "switchTranslation" trans target="FLOW.translationControl"}}>{{trans.label}}</a></li>
             {{/each}}
            </ul></td>
          <td class="newLang">
             {{view Ember.Select
         contentBinding="FLOW.translationControl.isoLangs"
         selectionBinding="FLOW.translationControl.selectedLanguage"
         optionLabelPath="content.labelLong"
         optionValuePath="content.value"
         prompt="Select language"
         promptBinding="Ember.STRINGS._select_language"}}
            <a {{action "addTranslation" target="FLOW.translationControl"}} class="smallBtn">{{t _add}}</a>
            {{#if FLOW.translationControl.newSelected}}
              <a {{action "cancelAddTranslation" target="FLOW.translationControl"}} class="smallBtn">{{t _cancel}}</a>
           {{/if}}</td>
        </tr>
      {{#unless FLOW.translationControl.newSelected}}
        <tr>
          <td class="formTitle" colspan=3>{{t _select_an_existing_translation_}}</td>
        </tr>
        {{/unless}}
        {{#if FLOW.translationControl.newSelected}}
          <tr>
            <td class="formTitle" colspan=3><strong>{{t _please_click_add_}} {{FLOW.translationControl.selectedLanguage.labelShort}}</strong></td>
          </tr>
        {{/if}}
      </tbody>
    </table>


  <div class="twoColumns floats-in">
  <table class="surveyTranslate surveyDetails">
    <!-- TABLE HEADER-->
    <thead>
      <tr>
        <th class="defaultLanguage"><h3>{{t _survey_details}}</h3></th>
        <th class="targetLanguage"><h3>{{t _survey_details_in}} <em>{{FLOW.translationControl.currentTranslationName}}</em></h3></th>
      </tr>
    </thead>
</table>
</div>


  <div class="twoColumns floats-in">
    <table class="surveyTranslate surveyDetails">
    <tbody>
      {{#each item in FLOW.translationControl.itemArray}}
        {{#if item.isSurvey}}
          <tr>
            <td class="defaultLanguage"><label>{{t _survey_title}}</label>
            <p>{{item.surveyText}}</p></td>
          <td class="targetLanguage"><label for="surveyName">{{t _survey_title}}</label>
            {{view Ember.TextField valueBinding="item.surveyTextTrans" disabledBinding="FLOW.translationControl.blockInteraction" size=40 }}</td>
        </tr>
        <tr>
          <td class="defaultLanguage"><label for="newSurveyDesc">{{t _survey_description}}</label>
            <p id="newSurveyDesc">{{item.sDescText}}</p></td>
          <td class="targetLanguage"><label for="newSurveyDesc">{{t _survey_description}}</label>
            {{view Ember.TextField valueBinding="item.sDescTextTrans" disabledBinding="FLOW.translationControl.blockInteraction" size=40 }}</td>
        </tr>
        {{/if}}
      {{/each}}
      </tbody>
    </table>
    </div> <!--  end twocolumns -->
    <header style="heigh:40px; padding: 10px 0 10px 0">
      <nav class="qtnGroupMenu">
        <ul>
          <li style="text-align:center;margin:0 10px 0 0;"><a  {{action "saveTranslations" target="FLOW.translationControl"}} class="standardBtn">{{t _save_translations}}</a> </li>
        </ul>
      </nav>
    </header>

    <section class="aQuestionSet mainContent">
     	{{#each questionGroup in FLOW.questionGroupControl}}
    	{{#view FLOW.QuestionGroupItemTranslationView contentBinding="questionGroup"}}
    	 <div class="questionGroupBlock">
    	   <header> <span class="qtnGroupHead">{{t _group}} {{view.content.order}}</span>
    	     <h1 class="qtnGroupTitle"><a {{action "toggleVisibility" target="this"}}>{{view.content.code}}</a></h1>
    	      <nav class="qtnGroupMenu">
                <ul>
                  {{#if view.amVisible}}
                    <li><a {{action "toggleVisibility" target="this"}} class="showQuestionGroup shown" id="">{{t _hide_questions}} </a></li>
                    <li><a  {{action "saveTranslations" target="FLOW.translationControl"}} class="standardBtn">{{t _save_translations}}</a> </li>
                  {{else}}
                    <li><a {{action "toggleVisibility" target="this"}} class="showQuestionGroup" id="">{{t _show_questions}} </a></li>
                  {{/if}}
                </ul>
              </nav>
    	  </header>
    	  {{#if view.amVisible}}
    	 <div class="twoColumns floats-in">
    <table class="surveyTranslate surveyDetails">
    <tbody>
      {{#each item in FLOW.translationControl.itemArray}}
          {{#if item.isQG}}
            <tr>
              <td class="defaultLanguage"> <span class="qtnGroupHead">{{t _group}} {{item.displayOrder}}</span>
              <h1 class="qtnGroupTitle">{{item.qgText}}</h1></td>
              <td class="targetLanguage"> <span class="qtnGroupHead">{{t _group}} {{item.displayOrder}}</span>
              {{view Ember.TextField valueBinding="item.qgTextTrans" disabledBinding="FLOW.translationControl.blockInteraction" size=40 }}</td>
            </tr>
             <tr>
                <td class="defaultLanguage"><h3>{{t _questions}}:</h3></td>
                <td class="targetLanguage"><h3>{{t _questions}}:</h3></td>
            </tr>
          {{else}}
            {{#if item.isQ}}
            <tr>
              <td class="defaultLanguage"><div class="questionNbr"><span>{{item.displayOrder}}</span>{{item.qText}}</div>
                {{#if item.hasTooltip}}
                  <div class="qHelpTooltip">
                    <label class="qTooltip">{{t _question_help_tooltip_optional}}</label>
                    <p>{{item.qTipText}}</p>
                  </div>
                  {{/if}}
                </td>
              <td class="targetLanguage"><div class="questionNbr"><span>{{item.displayOrder}}</span>
              {{view Ember.TextField valueBinding="item.qTextTrans" disabledBinding="FLOW.translationControl.blockInteraction" size=40 }}
              {{#if item.hasTooltip}}
                </div>
                <div class="qHelpTooltip">
              <label class="qTooltip">{{t _question_help_tooltip_optional}}</label>
              {{view Ember.TextField valueBinding="item.qTipTextTrans" disabledBinding="FLOW.translationControl.blockInteraction" size=40 }}
            </div>
            {{/if}}
          </td>
            </tr>
            {{else}}
              {{#if item.isQO}}
                <tr class="indented">
                  <td  class="defaultLanguage"><div class="questionNbr"><span>{{item.displayOrder}}</span>{{item.qoText}}</div></td>
                  <td  class="targetLanguage"><div class="questionNbr"><span>{{item.displayOrder}}</span>
                  {{view Ember.TextField valueBinding="item.qoTextTrans" disabledBinding="FLOW.translationControl.blockInteraction" size=40 }}
                  </div></td>
                </tr>

              {{/if}}
            {{/if}}
        {{/if}}
      {{/each}}
      </tbody>
    </table>
    </div> <!--  end twocolumns -->
    <header style="heigh:40px; padding: 0 0 10px 0">
     <h1 class="qtnGroupTitle">&nbsp;</h1>
      <nav class="qtnGroupMenu">
        <ul>
          <li><a {{action "toggleVisibility" target="this"}} class="showQuestionGroup shown" id="">{{t _hide_questions}} </a></li>
          <li><a  {{action "saveTranslations" target="FLOW.translationControl"}} class="standardBtn">{{t _save_translations}}</a> </li>
        </ul>
      </nav>
    </header>
    	{{/if}}
    	 	 </div>
    	{{/view}}
    {{/each}}
    </section>

    <nav class="bottomPg">
      <ul>
         <li><a  {{action "saveTranslationsAndClose" target="FLOW.translationControl"}} class="standardBtn">{{t _save_and_close}}</a> </li>
        <li><a {{action "closeTranslations" target="FLOW.translationControl"}}>{{t _close_without_saving}}</a> </li>
      </ul>
    </nav>
    </section>
      </section>
</div>
