
  {{#view FLOW.ProjectMainView}}
    <section class="topBar">
      <nav class="breadCrumb">
        <ul>
          <li>
            <a class="homeRoot" {{action "selectRootProject" target="FLOW.projectControl"}}>Home</a>
          </li>
          {{#each sg in FLOW.projectControl.breadCrumbs}}
            <li>
              <a {{action "selectProject" sg target="FLOW.projectControl"}}>{{sg.code}}</a>
            </li>
          {{/each}}
        </ul>
      </nav>
      {{#if view.projectListView}}
        <nav class="menuTopbar">
          <ul>
            <li><a class="editGroupName" href="#">Edit folder</a></li>
            <li><a class="addFolder" {{action "createProjectFolder" target="FLOW.projectControl"}}>Add folder</a></li>
            <li><a class="addSurvey" {{action "createProject" target="FLOW.projectControl"}}>Create new project</a></li>
          </ul>
        </nav>
      {{/if}}
    </section>

  {{#if view.projectListView}}
    {{view FLOW.ProjectListView}}
  {{/if}}
  {{#if view.projectView}}
    {{view FLOW.ProjectView}}
  {{/if}}
{{/view}}
