
<!-- we are within navSurveysEditView -->
<section class="leftSidebar" id="newSurveyInfo">
  <h2>{{t _edit_survey}}</h2>
  {{#view FLOW.SurveySidebarView}}
  
 
<form>
    <label for="newSurveyName">Title:
      {{view Ember.TextField valueBinding="view.surveyTitle" placeholder="Type in the name of your survey" size=30}}
    </label>
    <label for="newSurveyDesc">Description:
       {{view Ember.TextArea valueBinding="view.surveyDescription" placeholder="Type in a description of your survey" size=30 rows="3" }}
    </label>
    <label for="surveyType">Type:
      {{view Ember.Select 
                      contentBinding="FLOW.surveyTypeControl.content" 
                      optionLabelPath="content.label" 
                      optionValuePath="content.value" 
                      selectionBinding="view.SurveyType" 
                      prompt="Select survey type"}}
    </label>
    <label for="surveyType">Sector Focus:
      {{view Ember.Select 
                      contentBinding="FLOW.surveySectorTypeControl.content" 
                      optionLabelPath="content.label" 
                      optionValuePath="content.value" 
                      selectionBinding="view.SurveySectorType" 
                      prompt="Select sector"}}
    </label>
</form>

  <ul class="newSurveyInfoUl" id="">
    <li>
      <h3>Survey Summary</h3>
    </li>
    <li>Number of Question groups:
      <span id="numberQuestionSet">01</span>
    </li>
    <li>Number of Questions:
      <span id="numberQuestion">00</span>
    </li>
  </ul>
  <nav class="newSurveyNav">
    <ul>
      <li><a {{action doSaveSurvey target="this"}} class="saveNewSurvey">Save</a></li>
      <li><a {{action doPreviewSurvey target="this"}} class="previewNewSurvey">Preview</a></li>
      <li><a {{action doPublishSurvey target="this"}} class="publishNewSurvey">Publish</a></li>
    </ul>
  </nav>
   {{/view }} <!-- end of FLOW.SurveyView -->
</section>
<section class="mainRight" id="surveyCreator">
  <section class="topBar">
    <nav class="menuTopbar">
      <ul class="">
        <li><a {{action "doSurveysMain"}} class="stepBack">Go back to survey overview</a></li>
      </ul>
    </nav>
  </section>
  <!-- Beginning Question group set  -->
  <section id="questionSet">
    <section class="aQuestionSet mainContent" id="setIndex-01">
      {{#view FLOW.QuestionGroupItemView zeroItem="true"}}
        {{#if view.oneSelectedForMove}}
          <nav class="moveMenu groupActionMenu">
            <ul>
              <li><a {{action "doQGroupMoveHere" target="this"}} class="smallBtn">Move Group here </a></li>
              <li><a {{action "doQGroupMoveCancel" target="this"}} class=""> Cancel</a></li>
            </ul>
          </nav>
        {{/if}}    
        {{#if view.oneSelectedForCopy}}
          <nav class="copyMenu groupActionMenu">
            <ul>
              <li><a {{action "doQGroupCopyHere" target="this"}} class="smallBtn">Paste Group here </a></li>
              <li><a {{action "doQGroupCopyCancel" target="this"}} class=""> Cancel</a></li>
            </ul>
          </nav>
        {{/if}}    
      {{/view}}

      {{#collection contentBinding="FLOW.questionGroupControl" itemViewClass="FLOW.QuestionGroupItemView"}}

      <header>
        <span class="qtnGroupHead">{{t _group}} {{view.content.order}}</span>
          <h1 class="qtnGroupTitle"><a {{action "toggleVisibility" target="this"}}>{{view.content.displayName}}</a></h1>
          <nav class="qtnGroupMenu">
            <ul>
              <li><a {{action "toggleVisibility" target="this"}} class="showQuestionGroup" id="">{{view.showHideText}} </a></li>
              <li><a {{action "doQGroupNameEdit" target="this"}} class="editQuestionGroup" id="">{{t _edit_group_name}}</a></li> 
              <li><a {{action "showQGroupDeleteDialogue" target="this"}} class="deleteQuestionGroup" id="">{{t _delete}}</a></li>
              <li><a {{action "doQGroupCopy" target="this"}} class="copyQuestionGroup" id="">{{t _copy}}</a></li>
              <li><a {{action "doQGroupMove" target="this"}} class="moveQuestionGroup" id="">{{t _move}}</a> </li>                    
            </ul>
          </nav>
                    <!-- <a class="editSetInfo">Edit Set Info</a> -->
        </header>
	 {{#if view.oneSelectedForMove}}
				<nav class="moveMenu groupActionMenu">
				  <ul>
					<li><a {{action "doQGroupMoveHere" target="this"}} class="smallBtn">{{t _move_page_here}}</a></li>
					<li><a {{action "doQGroupMoveCancel" target="this"}} class="">{{t _cancel_move}}</a></li>
				  </ul>
				</nav>
			  {{/if}}
			  {{#if view.oneSelectedForCopy}}
				<nav class="copyMenu groupActionMenu">
				  <ul>
					<li><a {{action "doQGroupCopyHere" target="this"}} class="smallBtn">{{t _paste_page_here}}</a></li>
					<li><a {{action "doQGroupCopyCancel" target="this"}} class="">{{t _cancel_copy}}</a></li>
				  </ul>
				</nav>
			  {{/if}}    
		{{#if view.amVisible}}
          <div class="questionSetContent">
            <a class="addQuestion"  href="#">{{t _add_a_question_here}}</a>
            {{#each q in FLOW.questionControl.active}}
              <!-- Beginning a Question  -->
              {{#view FLOW.QuestionView contentBinding="q"}}
                <div class="innerContent" id="innerContent_01">
                  {{#if view.amOpenQuestion}}
                    <h1 class="questionNbr">&nbsp;</h1>
                    <label>{{t _question_text}}: {{view Ember.TextField valueBinding="view.questionName" size=100 }}</label>
                    <!-- Body of question -->
                    <label>Question type: {{view Ember.Select 
                      contentBinding="FLOW.questionTypeControl.content" 
                      optionLabelPath="content.label" 
                      optionValuePath="content.value" 
                      selectionBinding="view.selectedQuestionType" }}
                    </label>
                    <label>{{t _question_help_tooltip}}:
                      <span class="fadedText">({{t _optional}})</span>
                      {{view Ember.TextField valueBinding="view.questionHelpTooltip" size=100 }}
                    </label>
                    <label class="labelcheckbox">{{view Ember.Checkbox checkedBinding="view.checkedMandatory"}}{{t _mandatory}}</label>
                    <label class="labelcheckbox">{{view Ember.Checkbox checkedBinding="view.checkedDependent"}}{{t _dependent}}</label>
               
                    <!-- Question specific material -->
                    {{#if view.amOptionType}}
                      <h1 class="answerNbr">{{t _option_details}}: </h1>
                      <label class="labelcheckbox">
                        {{view Ember.Checkbox checkedBinding="view.checkedOptionMultiple"}}{{t _allow_multiple}}
                      </label>
                      <label class="labelcheckbox">
                        {{view Ember.Checkbox checkedBinding="view.checkedOptionOther"}}{{t _allow_other}}
                      </label>
                      <br>
                      <p><strong>{{t _options}}:&nbsp;</strong><span class="fadedText">
                        ({{t _enter_each_choice_on_a_separate_line}})</span>
                      </p>
                      {{view Ember.TextArea valueBinding="FLOW.optionControl.editCopy" size="100" rows="7" }}  
                    {{/if}}                 
                    {{view.optionList}}
                
        
                    {{#if view.amNumberType}}
                      TODO: Number specific content
                    {{/if}} 
                    <!-- End question specific material -->
          
                    <a class="standardBtn" id="standardBtn_01" {{action "doSaveEditQuestion" target="this"}}>Save Question</a>
                    <a class="standardBtn" id="standardBtn_01" {{action "doCancelEditQuestion" target="this"}}>Cancel</a>
                  {{else}}
                <!-- nav is only displayed if question is closed -->
                <nav>
                  <ul>
                    <li><a {{action "doDelete" target="this"}} class="deleteQuestion" id="">{{t _delete}}</a></li>
                    <li><a {{action "doCopy" target="this"}} class="copyQuestion" id="">{{t _copy}}</a></li>
                    <li><a {{action "doMove" target="this"}} class="moveQuestion" id="">{{t _move}}</a></li>
                    <li><a {{action "doEdit" target="this"}} class="editQuestion" id="">{{t _edit}}</a></li>
                  </ul>
                </nav>
                <h1 class="questionNbr"><span>{{q.order}}} </span>{{q.displayName}}</h1>
                {{/if}}
                <!-- end body of question -->
            </div>
            {{/view}}
            <!-- End of Question -->
            <a class="addQuestion" href="#">{{t _add_question_here}}</a>
            {{/each}}
        </div>
        {{/if}}

        <!-- dialogues -->
        <div {{bindAttr class="view.showQGDeleteDialogue:display :overlay"}}>
         <div class="blanket"></div>
		  <div class="dialogWrap">
            <!-- the dialog contents -->
            <div class="confirmDialog dialog">
              <h2>Are you sure you want to do this?</h2>
              <p class="dialogMsg">If we want to give a specific message this is where it can be loaded</p>
              <div class="buttons menuCentre"> 
        <ul>  
        <li><a {{action "doQGroupDelete" target="this"}} class="ok smallBtn">OK</a></li>
                <li><a {{action "cancelQGroupDelete" target="this"}}} class="cancel">CANCEL</a></li></ul>
              </div>
            </div>
          </div>
          <!-- end dialogues -->

      {{/collection}}
    </section>
  </section>
  <!-- End Question group Set  -->
</section>
