{{#view FLOW.SurveyGroupMainView}}
  <section id="groupBar" class="leftSidebar">
    <form action="" method="post">
      <input type="search" placeholder="Filter Surveys"  name="surveySearch" />
    </form>
    <h2>{{t _survey_groups}}</h2>
    <nav>
      <!-- show new group field, show when 'add a group' is selected -->
      {{#if view.showNewGroupField}}
        {{view Ember.TextField valueBinding="view.surveyGroupName" size=30}}
      <nav class="menuCentre">
    <a {{action "saveNewSurveyGroupName" target="this"}} class="smallBtn">{{t _save}}</a>
       <a {{action "cancelNewSurveyGroupName" target="this"}}>{{t _cancel}}</a>
      {{/if}}    

      <!-- show all survey groups --> 
      <ul class="menuGroup">
        {{#each sg in FLOW.surveyGroupControl.content}}
          {{#view FLOW.SurveyGroupMenuItemView contentBinding="sg"}}
            <a {{action "makeSelected" target="this"}}>{{sg.code}}</a>
          {{/view}}
        {{/each}} 
      </ul>
    </nav>
  </section>

  <section id="allSurvey" class="mainRight surveysList">
    <section class="topBar">
      {{#if view.oneSelected}}
        {{#if view.showEditField}}
          {{view Ember.TextField valueBinding="view.surveyGroupName" size=45}}
    
      <a {{action "saveSurveyGroupNameEdit" target="this"}} class="smallBtn">{{t _save}}</a></li>
       <a {{action "cancelSurveyGroupNameEdit" target="this"}}>{{t _cancel}}</a>
        {{else}}
          <!-- show selected survey group and edit name button --> 
          <h2>{{FLOW.selectedControl.selectedSurveyGroup.code}}</h2> 
          <a {{action "editSurveyGroupName" target="this"}}>{{t _edit_name}}</a>
		  <a {{action "showSGroupDeleteDialog" target="this"}} class="addGroup">{{t _delete_this_group}}</a>
        {{/if}}
      {{/if}}
      
      <!-- show delete group, add new group, and create new survey buttons--> 
      <nav class="menuTopbar">
        <ul class="">
          {{#if view.oneSelected}}
            <li></li>
          {{/if}}
          <li><a {{action "addGroup" target="this"}} class="addGroup">{{t _add_new_group}}</a></li>
          {{#if view.oneSelected}}
            <li><a {{action "createNewSurvey" target="this"}} class="addSurvey">{{t _create_a_new_survey}}</a></li>
          {{/if}}
        </ul>
      </nav>    
    </section>

    <!-- show all surveys of the currently selected survey group-->
    <ul class="surveyBatch">
      {{#each survey in FLOW.surveyControl.active}} 
        {{#view FLOW.SurveyGroupSurveyView contentBinding="survey"}}
          <li class="aSurvey waterPoint">
            <h2 class="">{{survey.displayName}}</h2>
            <ul class="surveyInfo floats-in">
              <li class="dateCreated"> <span>{{t created}}</span>
                <time>{{#with survey}}{{date createdDateTime}}{{/with}}<time>
              </li>
              <li class="responseNumber"><span>15</span>
                <p>{{t _responses}}</p>
              </li>
            </ul>
            <dl class="floats-in">
              <dt>modified</dt>
              <dd>{{#with survey}}{{date lastUpdateDateTime}}{{/with}}</dd>
              <dt>type</dt>
              <dd>water point</dd>
              <dt>language</dt>
              <dd>english, spanish, french, Dutch, German</dd>
            </dl>
            <nav>
              <ul>              
                <li class="editSurvey"><a {{action "doEditSurvey" survey}}>{{t _edit}}</a></li> <!-- this hands control over to the router -->
                  <li class="previewSurvey"><a {{action "previewSurvey" target="this"}}>{{t _preview}}</a></li>
                  <li class="deleteSurvey"><a {{action "deleteSurvey" target="this"}}>{{t _delete}}</a></li>
                  <li class="inspectData"><a {{action "inspectData" target="this"}}>{{t _inspect_data}}</a></li>
              </ul>
            </nav>
          </li>
        {{/view}}
      {{/each}}
    </ul>

    <!-- dialogues -->
    <!-- Survey Group Delete confirmation dialog-->
    <div {{bindAttr class="view.showSGDeleteDialogue:display :overlay"}}>
      <div class="blanket"></div>
		<div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialog"  style="display:block;">
          <h2>Are you sure you want to delete this surveygroup?</h2>
          <p class="dialogMsg">This cannot be undone.</p>
          <br/><br/>
        <div class="buttons menuCentre"> 
          <ul>  
            <li><a {{action "doSGroupDelete" target="this"}} class="ok smallBtn">OK</a></li>
            <li><a {{action "cancelSGroupDelete" target="this"}}} class="cancel">CANCEL</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Survey Group cannot delete due to existing surveys dialog-->
    <div {{bindAttr class="view.showSGDeleteNotPossibleDialogue:display :overlay"}}>
      <div class="blanket"></div>
		<div class="dialogWrap">
        	<!-- the dialog contents -->
		
        <div class="confirmDialog dialog">
          <h2>Can't delete survey group</h2>
          <p class="dialogMsg">You cannot delete this survey group because it contains surveys. Please delete the surveys individually first.</p>
          <br/><br/>
        <div class="buttons menuCentre"> 
          <ul>  
            <li><a {{action "doSGroupDelete" target="this"}} class="ok smallBtn">OK</a></li>
            <li><a {{action "cancelSGroupDelete" target="this"}}} class="cancel">CANCEL</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end dialogues -->

    
  </section>
{{/view}}