<style>
.aFolder {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0.5em auto 1em auto;
  padding: 0.5em 0 0.5em 1%;
  min-height: 115px;
  width: 99%;
  background: lightblue url(../images/carret.svg) right center no-repeat;
  -webkit-background-size: 45px 45px;
  background-size: 45px 45px;
  cursor: pointer;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
</style>

{{#view FLOW.ProjectMainView}}

  {{#view FLOW.ProjectBreadCrumbView}}
    {{#each sg in FLOW.breadCrumbControl}}
      <a {{action "selectProject" sg target="this"}}>
        {{#if sg}}
          {{sg.code}}
        {{else}}
          Root
        {{/if}}
      </a>
      &gt;
    {{/each}}
  {{/view}}

  {{#if view.showProjectList}}
    {{#view FLOW.ProjectListView}}
    <section id="allSurvey" class="mainRight surveysList">

      <br/>
      <a {{action "createFolder" target="this"}}>Add folder</a>
      <a {{action "createProject" target="this"}}>Create project</a>
    <nav>
      <!-- show all survey groups -->
      <ul>
        {{#each sg in FLOW.surveyGroupControl.currentFolders}}
          <a {{action "deleteFolder" sg target="this"}}>[x]</a>
          {{#view FLOW.SurveyGroupMenuItemView contentBinding="sg"}}
            <a {{action "makeSelected" sg target="this"}}>
              <h2>
                {{sg.code}}
              </h2>
            </a>
          {{/view}}
        {{/each}}
      </ul>
    </nav>
    </section>
    {{/view}}
  {{/if}}

  {{#if view.showProject}}
    <h2>Project {{view.currentProject.code}}</h2>
  {{/if}}

{{/view}}
