{{#view FLOW.SurveyGroupMainView}}
  <section id="groupBar" class="leftSidebar">
    <h2>{{t _survey_groups}}</h2>
	<a {{action "addGroup" target="this"}} class="addGroup">{{t _add_new_group}}</a>
    <nav>
      <!-- show new group field, show when 'add a group' is selected -->
      {{#if view.showNewGroupField}}
        {{view Ember.TextField valueBinding="view.surveyGroupName" size=30}}
        <nav class="menuCentre">
          <a {{action "saveNewSurveyGroupName" target="this"}} class="smallBtn">{{t _save}}</a>
          <a {{action "cancelNewSurveyGroupName" target="this"}}>{{t _cancel}}</a>
        </nav>
      {{/if}}   	 
<div class="scrollWrap"><a href="#" class="scrollUp" id="scrollUpId">up</a></div>
 
<nav class="menuGroupWrap">
      <!-- show all survey groups --> 
	 <ul class="menuGroup">
        {{#view FLOW.JavascriptSurveyGroupListView}}
          {{#each sg in FLOW.surveyGroupControl.arrangedContent}}
            {{#view FLOW.SurveyGroupMenuItemView contentBinding="sg"}}
              <a  {{action "makeSelected" target="this"}}> {{#if sg.monitoringGroup}}<span style="color:rgb(74, 177, 207)">M</span>&nbsp;&nbsp;{{/if}}{{sg.code}}</a>
            {{/view}}
          {{/each}} 
        {{/view}}
      </ul>
</nav>
<div class="scrollWrap"><a href="#" class="scrollDown" id="scrollDownId">down</a></div>
  </section>

  <section id="allSurvey" class="mainRight surveysList">
    <section class="topBar">
      {{#if view.oneSelected}}
        {{#if view.showEditField}}
          {{view Ember.TextField valueBinding="view.surveyGroupName" size=45}}
    
      <a {{action "saveSurveyGroupNameEdit" target="this"}} class="smallBtn">{{t _save}}</a></li>
       <a {{action "cancelSurveyGroupNameEdit" target="this"}}>{{t _cancel}}</a>
        {{else}}
          <!-- show selected survey group and edit name button --> 
          <h2>{{FLOW.selectedControl.selectedSurveyGroup.code}}</h2> 
          <a {{action "editSurveyGroupName" target="this"}} class="editGroupName">{{t _edit_name}}</a>
          <a {{action confirm FLOW.dialogControl.delSG target="FLOW.dialogControl"}} class="deleteGroup">{{t _delete_this_group}}</a>
        {{/if}}
      {{/if}}
      
      <!-- show delete group, add new group, and create new survey buttons--> 
      <nav class="menuTopbar">
        <ul class="">
          {{#if view.oneSelected}}
            <li><a {{action "doNewSurvey"}} class="addSurvey">{{t _create_a_new_survey}}</a></li>
          {{/if}}
        </ul>
      </nav>    
    </section>

    {{#unless view.oneSelected}}
        <p class="surveyLandingText">{{t _survey_intro_text}}</p>
    {{/unless}}

    <!-- show all surveys of the currently selected survey group-->
    <ul class="surveyBatch">
    
    {{#if view.oneSelected}}
      {{#if FLOW.Env.showMonitoringFeature }}
        {{#if view.monitoringGroup}}
		    <a class="makeMonitorGroup">{{t _monitoring_enabled}}</a> 
		      <div style="margin:0 10px 0 20px;"> <p style="text-size:1.5em;">Survey that creates new monitored entities:</p> {{view Ember.Select 
         		contentBinding="FLOW.surveyControl.content" 
                selectionBinding="FLOW.surveyControl.newLocaleSurvey"
         		optionLabelPath="content.name" 
         		optionValuePath="content.keyId"
         		prompt=""
                promptBinding="Ember.STRINGS._select_survey"}}</div>
        {{else}}
          <a {{action confirm FLOW.dialogControl.makeMonitor target="FLOW.dialogControl"}} class="makeMonitorGroup">{{t _make_monitoring_group}}</a>
        {{/if}}
      {{/if}}
    {{/if}}
    
      {{#each survey in FLOW.surveyControl.arrangedContent}} 
        {{#view FLOW.SurveyGroupSurveyView contentBinding="survey"}}
          <li class="aSurvey waterPoint">
            <h2 class="">{{survey.name}}</h2>
            <ul class="surveyInfo floats-in">
              <li class="dateCreated"> <span>{{t _created}}</span>
                <time>{{#with survey}}{{date createdDateTime}}{{/with}}<time>
              </li>
              <li class="responseNumber"><span>{{survey.instanceCount}}</span>
                <p>{{t _responses}}</p>
              </li>
            </ul>
            <dl class="floats-in">
              <dt>{{t _modified}}</dt>
              <dd>{{#with survey}}{{date lastUpdateDateTime}}{{/with}}</dd>
              <dt>{{t _type}}</dt>
              <dd>{{#with survey}}{{toPointType pointType}}{{/with}}</dd>
              <dt>{{t _language}}</dt>
              <dd>{{#with survey}}{{toLanguage defaultLanguageCode}}{{/with}}</dd>
            </dl>
            <nav>
              {{#if survey.allowEdit}}
              <ul>              
                <li class="editSurvey"><a {{action "doEditSurvey" survey}}>{{t _edit}}</a></li> <!-- this hands control over to the router -->
                <li class="previewSurvey"><a {{action "previewSurvey" target="this"}}>{{t _preview}}</a></li>
                <li class="deleteSurvey"> <a  {{action confirm FLOW.dialogControl.delS target="FLOW.dialogControl"}}>{{t _delete}}</a> </li>
                <li class="copySurvey"><a {{action "showCopySurveyDialog" survey target="view.parentView"}}>{{t _copy}}</a></li>
              </ul>
              {{/if}}
            </nav>
          </li>
        {{/view}}
      {{/each}}
    </ul>   

 <!-- Copy survey dialog-->
   <div {{bindAttr class="view.showCopySurveyDialogBool:display :overlay"}}>
     <div class="blanket"></div>
     <div class="dialogWrap"> 
       <!-- the dialog contents -->
       <div class="confirmDialog dialog">
         <h2>{{t _copy_a_survey}}</h2>
         <p class="dialogMsg">{{t _new_surveyName}}: {{view Ember.TextField valueBinding="view.newSurveyName" size=30}}</p>
         <p class="dialogMsg">{{t _choose_the_destination_survey_group}}</p>
         <br/>
         {{view Ember.Select 
         contentBinding="FLOW.surveyGroupControl.arrangedContent" 
         selectionBinding="view.selectedSurveyGroup" 
         optionLabelPath="content.code" 
         optionValuePath="content.keyId"
         prompt=""
         promptBinding="Ember.STRINGS._select_survey_group"}}
         <div class="buttons menuCentre">
           <ul>
             <li><a {{action "copySurvey" target="this"}} class="ok smallBtn">{{t _ok}}</a></li>
             <li><a {{action "cancelMoveSurvey" target="this"}}} class="cancel">{{t _cancel}}</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div> 





  </section>
{{/view}}