
  {{#view FLOW.ProjectMainView}}
    <section class="topBar">
      <nav class="breadCrumb">
        <ul>
          <li>
            <a class="homeRoot" {{action "selectRootProject" target="FLOW.projectControl"}}>Home</a>
          </li>
          {{#each sg in FLOW.projectControl.breadCrumbs}}
            <li>
              <a {{action "selectProject" sg target="FLOW.projectControl"}}>{{sg.code}}</a>
            </li>
          {{/each}}
        </ul>
      </nav>
      {{#if view.projectListView}}
        {{#if FLOW.projectControl.moveTarget}}
          <nav class="menuTopbar actionHighLighted">
            <ul>
              <li><p>Moving <span>{{FLOW.projectControl.moveTarget.code}}</span> {{FLOW.projectControl.moveTargetType}}</p></li>
              <li><a class="moveAction" {{action "endMoveProject" target="FLOW.projectControl"}}>Drop <span class="assetHook">{{FLOW.projectControl.moveTargetType}}</span> here</a></li>
              <li><a class="redCancel " {{action "cancelMoveProject" target="FLOW.projectControl"}}>Cancel</a></li>
            </ul>
          </nav>
        {{else}}
          {{#if FLOW.projectControl.copyTarget}}
            <nav class="menuTopbar actionHighLighted">
              <ul>
                <li><p>Copying <span>{{FLOW.projectControl.copyTarget.code}}</span></p></li>
                <li><a class="moveAction" {{action "endCopyProject" target="FLOW.projectControl"}}>Copy <span class="assetHook">project</span> here</a></li>
                <li><a class="redCancel " {{action "cancelCopyProject" target="FLOW.projectControl"}}>Cancel</a></li>
              </ul>
            </nav>
          {{else}}
            <nav class="menuTopbar">
              <ul>
                <li><a class="addFolder" {{action "createProjectFolder" target="FLOW.projectControl"}}>Add folder</a></li>
                <li><a class="addSurvey" {{action "createProject" target="FLOW.projectControl"}}>Create new project</a></li>
              </ul>
            </nav>
          {{/if}}
        {{/if}}
      {{else}}
        <nav class="menuTopbar">
          <ul>
            {{#if view.hasUnsavedChanges}}
              <li><a class="saveProject" {{action "doSave" target="this"}}>Save</a></li>
            {{else}}
              <li><a class="saveProject noChanges">Save</a></li>
            {{/if}}
            {{#unless FLOW.projectControl.isPublished}}
              {{#if FLOW.projectControl.hasForms}}
                <li><a class="publishProjectBtn" {{action "publishProject" target="FLOW.projectControl"}}>Publish project</a></li>
              {{else}}
                <li><a class="publishProjectBtn noChanges">Publish project</a></li>
              {{/if}}
            {{else}}
              <li><a class="publishProjectBtn noChanges">Publish project</a></li>
            {{/unless}}
          </ul>
        </nav>
      {{/if}}
    </section>

  {{#if view.projectListView}}
    {{view FLOW.ProjectListView}}
  {{/if}}
  {{#if view.projectView}}
    {{view FLOW.ProjectView}}
  {{/if}}
{{/view}}
