<!-- we are within navSurveysEditView -->
 {{#view FLOW.SurveySidebarView}}
<section class="leftSidebar" id="newSurveyInfo">
  <h2>{{t _edit_survey}}</h2>

  <form>
    <label for="newSurveyName">{{t _Title}}<span class="isRequired">({{t _Required}})</span>:
      {{view Ember.TextField valueBinding="view.surveyTitle" placeholder="Type in the name of your survey" size=30}} </label>
    <label for="newSurveyDesc">{{t _Description}}:
      {{view Ember.TextArea valueBinding="view.surveyDescription" placeholder="Type in a description of your survey" size=30 rows="3" }} </label>
   <!--  <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.requireApproval"}}{{t _require_approval}} </label> -->
	  <dl class="floats-in">
              <dt>{{t _Version_Number}}:</dt>
              <dd><span id="versionNbr">{{FLOW.selectedControl.selectedSurvey.version}}</span><a href="#" class="helpIcon tooltip" title="Version Number helps you keep track of the number of times the survey has been revised and published. So, if the survey has been revised and published five times, it will be Version 5.0">Get Help</a></dd>
              <dt>{{t _ID_Number}}:</dt>
              <dd><span id="surveyIdNbr">{{FLOW.selectedControl.selectedSurvey.keyId}}</span></dd>
            </dl>   
    <label for="surveyType">{{t _type}}<span class="isRequired">({{t _Required}})</span>:
      {{view Ember.Select 
      contentBinding="FLOW.surveyPointTypeControl.content" 
      optionLabelPath="content.label" 
      optionValuePath="content.value" 
      selectionBinding="view.surveyPointType" 
      prompt="Select survey type"}} </label>
    
    <label for="surveyLanguage">{{t _Language}}:
      {{view Ember.Select 
      contentBinding="FLOW.languageControl.content" 
      optionLabelPath="content.label" 
      optionValuePath="content.value" 
      selectionBinding="view.language" 
      prompt="Select language"}} </label>
  </form>
  <a {{action "doManageNotifications"}} class="manageNotifications"><span>+</span>{{t _manage_notifications}}</a>
  <ul class="newSurveyInfoUl" id="">
    <li>
      <h3>{{t _Survey_Summary}}</h3>
    </li>
    <li>{{t _Number_of_Question_groups}}: <span id="numberQuestionSet">{{view.numberQuestionGroups}}</span> </li>
    <li>{{t _Number_of_Questions}}: <span id="numberQuestion">{{view.numberQuestions}}</span> </li>
    <li>{{t _Status}}:  {{#if view.isPublished}} <span class="surveyPublished">{{t _published}}</span> {{else}} <span class="surveyNotPublished">{{t _not_published}}</span> {{/if}}</li>
  </ul>
  <nav class="newSurveyNav">
    <ul>
      <li><a {{action doSaveSurvey target="this"}} class="saveNewSurvey">Save</a></li>
      <li><a {{action doPreviewSurvey target="this"}} class="previewNewSurvey">Preview</a></li>
      <li><a {{action doPublishSurvey target="this"}} class="publishNewSurvey">Publish</a></li>
    </ul>
  </nav>
 
</section>
<section class="mainRight" id="surveyCreator">
  <section class="topBar">
    <nav class="menuTopbar">
      <ul class="">
        <li><a {{action "doSurveysMain" target="this"}} class="stepBack">Go back to survey overview</a></li>
      </ul>
    </nav>
  </section>
  
{{outlet}}
</section>
 {{/view }} <!-- end of FLOW.SurveySideBarView --> 
