{{#view FLOW.ProjectMainView}}

  <section class="topBar">
    <nav class="breadCrumb">
      <ul>
        {{#view FLOW.ProjectBreadCrumbView}}
          {{#each sg in FLOW.surveyGroupControl.breadCrumbs}}
            <li>
              {{#if sg}}
                <a {{action "selectProject" sg target="this"}}>{{sg.code}}</a>
              {{else}}
                <a class="homeRoot" {{action "selectProject" sg target="this"}}>Home</a>
              {{/if}}
            </li>
          {{/each}}
        {{/view}}
      </ul>
    </nav>
    <nav class="menuTopBar">
      <ul>
        <li><a class="editGroupName" href="#">Edit folder</a></li>
        <li><a class="addFolder" {{action "createFolder" target="this"}}>Add folder</a></li>
        <li><a class="addSurvey" href="#">Create a new project</a></li>
      </ul>
    </nav>
  </section>

  {{#if view.showProjectList}}
    {{#view FLOW.ProjectListView}}
      <section id="allSurvey" class="surveysList">
        <ul>
          {{#each sg in FLOW.surveyGroupControl.currentFolders}}
              <li class="aSurvey aFolder">
                <a {{action "makeSelected" sg target="this"}}>
                  {{sg.code}}
                </a>
              </li>
          {{/each}}
        </ul>
      </section>
    {{/view}}
  {{/if}}

  {{#if view.showProject}}
    <h2>Project {{view.currentProject.code}}</h2>
  {{/if}}

{{/view}}
