
  <section class="topBar">
    <nav class="breadCrumb">
      <ul>
        {{#each sg in FLOW.projectControl.breadCrumbs}}
          <li>
            {{#if sg}}
              <a {{action "selectProject" sg target="FLOW.projectControl"}}>{{sg.code}}</a>
            {{else}}
              <a class="homeRoot" {{action "selectProject" sg target="FLOW.projectControl"}}>Home</a>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </nav>
    <nav class="menuTopbar">
      <ul>
        <li><a class="editGroupName" href="#">Edit folder</a></li>
        <li><a class="addFolder" {{action "createProjectFolder" target="FLOW.projectControl"}}>Add folder</a></li>
        <li><a class="addSurvey" href="#">Create a new project</a></li>
      </ul>
    </nav>
  </section>

  <div class="floats-in">
    <div id="pageWrap" class="widthConstraint belowHeader">
      <section id="allSurvey" class="surveysList">
        <ul>
          {{#each sg in FLOW.projectControl.currentFolders}}
              {{#view FLOW.ProjectItemView contentBinding="sg"}}
                {{#if view.isFolder}}
                  <a {{action "selectProject" sg target="FLOW.projectControl"}}>
                    <h2>{{sg.code}}</h2>
                  </a>
                {{else}}
                  <h2>{{sg.code}}</h2>
                  <ul class="surveyInfo floats-in">
                    <li class="dateCreated"><span>Created</span></li>
                    <li class="responseNumber"><span>Responses</span></li>
                    <li class="dateModified"><span>Modified</span></li>
                    <li class="surveyType"><span>Type</span><p>Private</p></li>
                    <li class="surveyLanguage"><span>Language</span><p>English</p></li>
                  </ul>
                {{/if}}
              {{/view}}
          {{/each}}
        </ul>
      </section>
    </div>
  </div>
