
  {{#view FLOW.ProjectMainView}}
    <section class="topBar">
      <nav class="breadCrumb">
        <ul>
          <li>
            <a class="homeRoot" {{action "selectRootProject" target="FLOW.projectControl"}}>{{t _home}}</a>
          </li>
          {{#each sg in FLOW.projectControl.breadCrumbs}}
            <li>
              <a {{action "selectProject" sg target="FLOW.projectControl"}}>{{sg.code}}</a>
            </li>
          {{/each}}
        </ul>
      </nav>
      {{#if view.projectListView}}
        {{#if FLOW.projectControl.moveTarget}}
          <nav class="menuTopbar actionHighLighted">
            <ul>
              <li><p>{{t _moving}} <span class="itemMoved">{{FLOW.projectControl.moveTarget.code}}</span> {{FLOW.projectControl.moveTargetType}}</p></li>
              <li><a class="moveAction" {{action "endMoveProject" target="FLOW.projectControl"}}>{{t _move_here}}</a></li>
              <li><a class="redCancel " {{action "cancelMoveProject" target="FLOW.projectControl"}}>{{t _cancel}}</a></li>
            </ul>
          </nav>
        {{else}}
          {{#if FLOW.projectControl.copyTarget}}
            <nav class="menuTopbar actionHighLighted">
              <ul>
                <li><p>{{t _copying}} <span class="itemMoved">{{FLOW.projectControl.copyTarget.code}}</span></p></li>
                <li><a class="moveAction" {{action "endCopyProject" target="FLOW.projectControl"}}>{{t _copy_here}}</a></li>
                <li><a class="redCancel " {{action "cancelCopyProject" target="FLOW.projectControl"}}>{{t _cancel}}</a></li>
              </ul>
            </nav>
          {{else}}
            <nav class="menuTopbar">
              <ul>
              {{#if view.disableAddFolderButton }}
                <li><a class="addFolder noChanges">{{t _add_folder}}</a></li>
              {{else}}
                <li><a class="addFolder" {{action "createProjectFolder" target="FLOW.projectControl"}}>{{t _add_folder}}</a></li>
              {{/if}}
              {{#if view.disableAddSurveyButton }}
                <li><a class="addSurvey noChanges">{{t _create_new_survey}}</a></li>
              {{else}}
                <li><a class="addSurvey" {{action "createProject" target="FLOW.projectControl"}}>{{t _create_new_survey}}</a></li>
              {{/if}}
              </ul>
            </nav>
          {{/if}}
        {{/if}}
      {{else}}
        <nav class="menuTopbar">
          <ul>
            {{#if view.hasUnsavedChanges}}
              <li><a class="saveProject" {{action "doSave" target="this"}}>{{t _save}}</a></li>
            {{else}}
              <li><a class="saveProject noChanges">{{t _save}}</a></li>
            {{/if}}
            {{#unless FLOW.projectControl.isPublished}}
              {{#if FLOW.projectControl.hasForms}}
                <li><a class="publishProjectBtn" {{action "publishProject" target="FLOW.projectControl"}}>{{t _publish_survey}}</a></li>
              {{else}}
                <li><a class="publishProjectBtn noChanges">{{t _publish_survey}}</a></li>
              {{/if}}
            {{else}}
              <li><a class="publishProjectBtn noChanges">{{t _publish_survey}}</a></li>
            {{/unless}}
          </ul>
        </nav>
      {{/if}}
    </section>

  {{#if view.projectListView}}
    {{view FLOW.ProjectListView}}
  {{/if}}
  {{#if view.projectView}}
    {{view FLOW.ProjectView}}
  {{/if}}
{{/view}}
