  {{#view FLOW.ProjectMainView}}
    <section class="topBar">
      <nav class="breadCrumb">
        <ul>
          <li>
            <a class="homeRoot" {{action "selectRootProject" target="FLOW.projectControl"}}>{{t _home}}</a>
          </li>
          {{#each sg in FLOW.projectControl.breadCrumbs}}
            <li>
              <a {{action "selectProject" sg target="FLOW.projectControl"}}>{{sg.code}}</a>
            </li>
          {{/each}}
        </ul>
      </nav>
      {{#if view.projectListView}}
        {{#if FLOW.projectControl.moveTarget}}
          <nav class="menuTopbar actionHighLighted">
            <ul>
              <li><p>{{t _moving}} <span class="itemMoved">{{FLOW.projectControl.moveTarget.code}}</span> {{FLOW.projectControl.moveTargetType}}</p></li>
              {{#if view.disableAddSurveyButtonInRoot}}
              <li><a class="moveAction button noChanges">{{t _move_here}}</a></li>
              {{else}}
              <li><a class="moveAction button" {{action "endMoveProject" target="FLOW.projectControl"}}>{{t _move_here}}</a></li>
              {{/if}}
              <li><a class="redCancel  btnOutline" {{action "cancelMoveProject" target="FLOW.projectControl"}}>{{t _cancel}}</a></li>
            </ul>
          </nav>
        {{else}}
          {{#if FLOW.projectControl.copyTarget}}
            <nav class="menuTopbar actionHighLighted">
              <ul>
                <li><p>{{t _copying}} <span class="itemMoved">{{FLOW.projectControl.copyTarget.code}}</span></p></li>
                {{#if view.disableAddSurveyButtonInRoot}}
                <li><a class="moveAction button noChanges">{{t _copy_here}}</a></li>
                {{else}}
                <li><a class="moveAction button" {{action "endCopyProject" target="FLOW.projectControl"}}>{{t _copy_here}}</a></li>
                {{/if}}
                <li><a class="redCancel btnOutline" {{action "cancelCopyProject" target="FLOW.projectControl"}}>{{t _cancel}}</a></li>
              </ul>
            </nav>
          {{else}}
            <nav class="menuTopbar">
              <ul>
              {{#if view.disableAddFolderButton }}
                <li><a class="addFolder noChanges">{{t _add_folder}}</a></li>
              {{else}}
                <li><a class="addFolder" {{action "createProjectFolder" target="FLOW.projectControl"}}>{{t _add_folder}}</a></li>
              {{/if}}
              {{#if view.disableAddSurveyButton }}
                <li><a class="addSurvey noChanges">{{t _create_new_survey}}</a></li>
              {{else}}
                {{#if view.disableAddSurveyButtonInRoot}}
                <!--  Needed in the comment in order for translation parser to identify translation key
                      {{t _survey_only_in_folder}} -->
                  <li>{{#view FLOW.TooltipText i18nTooltipKey="_survey_only_in_folder"}}{{t _create_new_survey}}{{/view}}</li>
                {{else}}
                    <li class="dropdown">
                        <a class="addSurvey">{{t _create_new_survey}}</a>
                        <div class="dropdown-content">
                            <a href="#" {{action "createProject" target="FLOW.projectControl"}}>{{t _create_survey_blank}}</a>
                            <a href="#" {{action "displayTemplateList" target="this"}}>{{t _create_survey_from_template}}</a>
                        </div>
                    </li>
                {{/if}}
              {{/if}}
              </ul>
            </nav>
          {{/if}}
        {{/if}}
      {{else}}
        <nav class="menuTopbar">
          <ul>
            {{#if view.hasUnsavedChanges}}
              <li><a class="saveProject" {{action 'saveProject' target="FLOW.projectControl"}}>{{t _save}}</a></li>
            {{else}}
              <li><a class="saveProject noChanges">{{t _save}}</a></li>
            {{/if}}
            <li>{{view FLOW.OfflineIndicatorView}}</li>
          </ul>
        </nav>
      {{/if}}
        <div {{bindAttr class="view.showTemplates:display :overlay :surveyTemplatesDialog"}}>
            <div class="blanket"></div>
            <div class="dialogWrap">
                <!-- the dialog contents -->
                <div class="confirmDialog dialogWide">
                    {{#if view.surveyTemplatesList}}
                        <h2>{{t _create_survey_from_template_dialog_title}}</h2>
                        <br/>
                        {{#each view.surveyTemplatesList}}
                            {{view Ember.RadioButton title=this._data.attributes.code option=this.id group="templates" valueBinding="view.selectedSurveyTemplate"}}
                        {{/each}}
                        <div class="buttons menuCentre">
                            <ul>
                                <li><a {{action "hideTemplateList" target="this"}} class="cancel">{{t _cancel}}</a></li>
                                <li><a {{action "createSurveyFromTemplate" target="this"}} class="ok smallBtn">{{t _create}}</a></li>
                            </ul>
                        </div>
                    {{else}}
                        <h2>{{t _no_templates_dialog_title}}</h2>
                        <br/>
                        {{t _no_templates_dialog_message}}
                        <div class="buttons menuCentre">
                            <ul>
                                <li><a {{action "hideTemplateList" target="this"}} class="cancel">{{t _ok}}</a></li>
                            </ul>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
  {{#if view.projectListView}}
    {{view FLOW.ProjectListView}}
  {{/if}}
  {{#if view.projectView}}
    {{view FLOW.ProjectView}}
  {{/if}}
{{/view}}
