<div class="fixedMenu"><a {{action "closePreviewPopup" target="this"}} class="ok clodeDialog">{{t _close_window}}</a>
<h2>{{t _survey_preview}}</h2></div>
<div class="surveyPreviewWrap">
{{#each QG in FLOW.questionGroupControl}}
 <div class="questionGroupBlock">
   <header> <span class="qtnGroupHead">{{t _group}} {{QG.order}}</span>
     <h3 class="qtnGroupTitle">{{QG.code}}</h3>
     <div class="innerContent"> 
       {{#view FLOW.PreviewQuestionGroupView contentBinding="QG"}}
         {{#each Q in view.QGcontent}}
           {{#view FLOW.PreviewQuestionView contentBinding="Q"}}
             {{#if view.isVisible}}
			 <div class="previewQuestion"> 
                <h1 class="questionNbr"><span>{{Q.order}}} </span>{{Q.text}}</h1>
                    {{#if view.isOptionType}}
                       {{#each view.optionsList}}
                       <!-- FIXME this should be checkbuttons if Allow Multiple is true -->
                          {{view Em.RadioButton title=this.value option=this.value group="options" valueBinding="view.optionChoice"}} 
                        {{/each}}
                    {{else}}
                      {{#if view.isNumberType}}
                        {{view Ember.TextField valueBinding="view.answer" size=10 }}
                      {{else}}
                        {{#if view.isTextType}}
                          {{view Ember.TextField valueBinding="view.answer" size=10 }}
                        {{else}}
                          {{#if view.isDateType}} 
                             {{view FLOW.DateField2 valueBinding="view.answer" size=30}} 
                          {{else}}
                            {{#if view.isGeoType}}
                              <h3>{{t _the_gps_of_the_device_is_used_here}}</h3>
                              <h4>{{t _latitude}}:</h4> {{view Ember.TextField valueBinding="view.latitude" size=10 }}
                              <h4>{{t _longitude}}:</h4> {{view Ember.TextField valueBinding="view.longitude" size=10 }}
                            {{else}}
                              {{#if view.isBarcodeType}}
                                <h3>{{t _the_barcode_app_on_the_device_is_used_here}}</h3>
                                {{view Ember.TextField valueBinding="view.answer" size=10 }}
                              {{else}}
                                {{#if view.isPhotoType}}
                                  <h3>{{t _the_camera_of_the_device_is_used_here}}</h3>
                                {{else}}
                                  {{#if view.isVideoType}}
                                    <h3>{{t _the_video_camera_of_the_device_is_used_here}}</h3>
                                    {{else}}
                                     {{#if view.isGeoshapeType}}
                                      <h3>{{t _the_geographic_shape_editor_is_used_here}}</h3>
                                     {{else}}
                                     	{{#if view.isCascadeType}}
                                     		{{#each item in view.levelNameList}}
                                     			<h4>{{item}}</h4> {{view Ember.TextField valueBinding="view.answer" size=10 }}
                                     		{{/each}}
                                     		<h4>{{t _cascade_preview_text}}</h4>
                                     		<h4><a href="http://flow.readthedocs.org/en/latest/docs/dashboard/4-data.html#cascading-resources-tab" target="_blank">{{t _link_to_documentation}}</a></h4>
                                     	{{/if}}
                                     {{/if}}
                                  {{/if}}
                                {{/if}}
                              {{/if}}
                            {{/if}}
                          {{/if}}
                        {{/if}}
                      {{/if}}
                    {{/if}}    
                </div>
              {{/if}}
            {{/view}}
          {{/each}}
       {{/view}}
     </div>
 </div>    
{{/each}}
</div>