

<div class="floats-in">
  <div id="pageWrap" class="widthConstraint belowHeader">
    <section id="allSurvey" class="surveysList">
      {{#view FLOW.ProjectList}}
        {{#each sg in FLOW.projectControl.currentFolders}}
            {{#view FLOW.ProjectItemView contentBinding="sg"}}
              {{#if view.isFolder}}
                {{#if view.folderEdit}}
                  <a {{action "toggleEditFolderName" sg target="this"}} class="editingFolderName">
                    {{t _edit_folder_name}}
                  </a>
                  {{view FLOW.FolderEditView valueBinding="sg.code" contentBinding="sg"}}
                {{else}}
                  <a {{action "toggleEditFolderName" sg target="this"}} class="editFolderName">
                    {{t _edit_folder_name}}
                  </a>
                  <a {{action "selectProject" sg target="FLOW.projectControl"}}>
                    <h2>{{sg.code}}</h2>
                  </a>
                {{/if}}
                <nav>
                  <ul>
                    <li class="deleteSurvey"><a {{action "deleteProject" sg target="FLOW.projectControl"}}>{{t _delete}}</a></li>
                    <li class="moveSurvey"><a {{action "beginMoveProject" sg target="FLOW.projectControl"}}>{{t _move}}</a></li>
                  </ul>
               </nav>
              {{else}}
                <a {{action "selectProject" sg target="FLOW.projectControl"}}>
                  <h2>{{sg.code}}</h2>
                </a>
                <ul class="surveyInfo floats-in">
                  <li class="dateCreated"><span>{{t _created}}</span><p>{{view.created}}</p></li>
                  <li class="responseNumber"><span>{{t _responses}}</span></li>
                  <li class="dateModified"><span>{{t _modified}}</span><p>{{view.modified}}</li>
                  <li class="surveyType"><span>{{t _type}}</span><p>
                    {{#if view.isPrivate}}
                      {{t _private}}
                    {{else}}
                      {{t _public}}
                    {{/if}}
                  </p></li>
                  <li class="surveyLanguage"><span>{{t _language}}</span><p>{{view.language}}</p></li>
                </ul>
                <nav>
                  <ul>
                    <li class="editSurvey"><a {{action "selectProject" sg target="FLOW.projectControl"}}>{{t _edit}}</a></li>
                    <li class="moveSurvey"><a {{action "beginMoveProject" sg target="FLOW.projectControl"}}>{{t _move}}</a></li>
                    {{#unless sg.surveyList}}
                      <li class="deleteSurvey"><a {{action "deleteProject" sg target="FLOW.projectControl"}}>{{t _delete}}</a></li>
                    {{/unless}}
                    <li class="copySurvey" {{action "beginCopyProject" sg target="FLOW.projectControl"}}><a>{{t _copy}}</a></li>
                  </ul>
                </nav>
              {{/if}}
            {{/view}}
        {{/each}}
      {{/view}}
    </section>
  </div>
</div>
