
{{#view FLOW.Project}}
  <div class="floats-in">
    <div id="pageWrap" class="widthConstraint belowHeader">
      <section id="main" class="projectSection floats-in middleSection" role="main">
        <section id="" class="projectDetailsPanel">
          <h2>{{FLOW.projectControl.currentProject.name}}</h2>
          <ul class="projectSummary">
            <li>{{t _forms}}<span class="projectForm">{{FLOW.projectControl.formCount}}</span>
            </li>
            <!-- Should we display the ID as we do with forms? -->
            <li class="hidden">{{t _id}}
              <span class="projectForm">
                {{FLOW.projectControl.currentProject.keyId}}
              </span>
            </li>
            <li>{{t _monitoring}}
              <span class="projectMonitoring">
                {{#if FLOW.projectControl.currentProject.monitoringGroup}}{{t _enabled}}{{else}}{{t _not_enabled}}{{/if}}
              </span>
            </li>
          </ul>
          <section class="projectDetails">
            <h3>{{t _survey_basics}}</h3>
            {{#unless view.isNewProject}}
              <a {{action "toggleShowProjectDetails" target="this"}} class="button">
                {{#if view.visibleProjectBasics}}
                  {{t _collapse}}
                {{else}}
                  {{t _show}}
                {{/if}}
              </a>
            {{/unless}}
            {{#if view.visibleProjectBasics}}
              <form class="projectDetailForm">
                <label>{{t _survey_title}}</label>{{view Ember.TextField id="projectTitle" valueBinding="FLOW.projectControl.currentProject.name" disabledBinding="view.disableFolderSurveyInputField"}}

                <ul class="projectSelect floats-in">
                  <li>
                    <label>{{t _privacy_type}}:</label>
                    {{view Ember.Select
                      contentBinding="FLOW.privacyLevelControl.content"
                      selectionBinding="FLOW.projectControl.currentProject.privacyLevel"
                      disabledBinding="view.disableFolderSurveyInputField"}}
                  </li>
                  <li>
                    <label>{{t _language}}:</label>
                    {{view Ember.Select
                      contentBinding="FLOW.languageControl.content"
                      selectionBinding="view.selectedLanguage"
                      optionLabelPath="content.label"
                      optionValuePath="content.value"
                      disabledBinding="view.disableFolderSurveyInputField"}}
                  </li>
                </ul>
                {{#if FLOW.projectControl.hasForms}}
                      <label for="enableMonitoring" class="labelcheckbox">
                        {{view Ember.Checkbox checkedBinding="FLOW.projectControl.currentProject.monitoringGroup" id="enableMonitoring" disabledBinding="view.disableFolderSurveyInputField"}}{{t _enable_monitoring_features}}
                      </label>
                      {{#if FLOW.projectControl.currentProject.monitoringGroup}}

                      <p class="monitoringHint">{{t _choose_the_registration_form}}: {{tooltip _choose_the_registration_form_tooltip}}</p>
                      {{view Ember.Select
                        contentBinding="FLOW.surveyControl.arrangedContent"
                        selectionBinding="view.selectedRegistrationForm"
                        optionLabelPath="content.code"
                        optionValuePath="content.keyId"
                        disabledBinding="view.disableFolderSurveyInputField"}}




                    {{#if view.showDataApproval}}
                        <label for="enableDataApproval" class="labelcheckbox">
                            {{view Ember.Checkbox checkedBinding="FLOW.projectControl.currentProject.requireDataApproval" id="enableDataApproval" disabledBinding="view.disableFolderSurveyInputField"}} {{t _enable_data_approval}} {{tooltip _enable_data_approval_tooltip}}
                        </label>
                        {{#if view.showDataApprovalList}}
                          {{view Ember.Select
                            contentBinding="FLOW.router.approvalGroupListController.arrangedContent"
                            optionLabelPath="content.name"
                            optionValuePath="content.keyId"
                            selectionBinding="FLOW.projectControl.dataApprovalGroup"
                            disabledBinding="view.disableFolderSurveyInputField"
                            promptBinding="Ember.STRINGS._choose_data_approval_group"}}

                            {{#if view.showDataApprovalDetails}}
                              <div class="hideShow">
                                <a {{action toggleShowDataApprovalDetails target="view"}}>{{t _hide_approval}}</a>
                              </div>
                                {{#view FLOW.SurveyApprovalView controllerBinding="FLOW.router.approvalGroupController"}}
                                  <div class="approvalDetail">
                                    <h2>{{name}}</h2>
                                    <p>{{#if ordered}} {{t _ordered_approval}} {{else}} {{t _unordered_approval}} {{/if}}</p>
                                    <ul class="approvalSteps">
                                    {{#each step in FLOW.router.approvalStepsController}}
                                        {{#view FLOW.SurveyApprovalStepView stepBinding="step"}}
                                            <li><h4>{{view.step.title}}</h4> <a {{action toggleShowResponsibleUsers target="view"}}>{{t _responsible_users}}</a></li>
                                            {{#if view.showResponsibleUsers}}
                                            <div>
                                                <ul class="responsibleUsers">
                                                    {{#each user in FLOW.router.userListController}}
                                                        {{#view FLOW.ApprovalResponsibleUserView
                                                                    userBinding="user"
                                                                    stepBinding="view.step"}}
                                                            <li>
                                                            {{view Ember.Checkbox
                                                                    checkedBinding="view.isResponsibleUser"}}
                                                            {{view.user.userName}}
                                                            </li>
                                                        {{/view}}
                                                    {{/each}}
                                                </ul>
                                            </div>
                                            {{/if}}
                                        {{/view}}
                                    {{/each}}
                                    </ul>
                                  </div>
                                {{/view}}
                              {{else}}
                              <div class="hideShow">
                                <a {{action toggleShowDataApprovalDetails target="view"}}>{{t _show_approval}}</a>
                              </div>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                  {{/if}}
                {{/if}}
              </form>
            {{/if}}
          </section>

          <section class="noFormsContainer">
            {{#unless FLOW.projectControl.hasForms}}
              <ul>
                  <li class="formList"><p class="noForms">{{t _no_forms_in_this_survey}}</p></li>
                  {{#if view.showAddNewFormButton}}
                  <li><a class="addMenuAction aBtn addNewForm" {{action "createForm" target="FLOW.surveyControl"}}>{{t _add_new_form}}</a></li>
                  {{/if}}
              </ul>
            {{/unless}}
          </section>

          <section class="forms">

            {{#if FLOW.projectControl.hasForms}}
              <div id="tabs">
                {{#if FLOW.projectControl.currentProject.monitoringGroup}}
                {{#if view.showAddNewFormButton}}
                  <nav class="menuTopbar">
                    <ul>
                      <li>  <a {{action "createForm" target="FLOW.surveyControl"}} class="button addFormBtn" >{{t _add_new_form}}</a></li>
                    </ul>
                  </nav>                      
                {{/if}}
            {{/if}}
                <nav class="tabNav floats-in">
                  <ul>
                    {{#each form in FLOW.surveyControl}}
                      {{#view FLOW.FormTabView contentBinding="form"}}
                        <a {{action "selectForm" form target="FLOW.surveyControl"}}>{{form.name}}</a></li>
                      {{/view}}
                    {{/each}}

                  </ul>
                </nav>
                <section class="formsContainer">
                  {{#if view.isPublished}}
                    <div id="form01" class="published">
                      {{#if FLOW.selectedControl.selectedSurvey}}
                        <h3>{{FLOW.selectedControl.selectedSurvey.name}}</h3>
                        {{view FLOW.FormView}}
                      {{/if}}
                    </div>
                  {{else}}
                    <div id="form01">
                      {{#if FLOW.selectedControl.selectedSurvey}}
                        <h3>{{FLOW.selectedControl.selectedSurvey.name}}</h3>
                        {{view FLOW.FormView}}
                      {{/if}}
                    </div>
                  {{/if}}
                </section>
              </div>
            {{/if}}
          </section>
        </section>
      </section>
    </div>
  </div>
{{/view}}
