{{#unless view.zeroItemQuestion}}

<div class="innerContent" id="innerContent_01">
  {{#if view.amOpenQuestion}}
    <h1 class="questionNbr"><span>{{view.content.order}}} </span>{{view.content.text}}</h1>
    <label>{{t _question_text}}:
    {{#if view.questionValidationFailure }}
      <span style="color:red">{{t _question_over_500_chars_header}}</span>
      {{/if}}
      {{view Ember.TextField valueBinding="view.text" size=100 }}</label>
    <label>{{t _question_help_tooltip}}: <span class="fadedText">({{t _optional}})</span>
    {{#if view.questionTooltipValidationFailure }}
      <span style="color:red">{{t _tooltip_over_500_chars_header}}</span>
      {{/if}}
      {{view Ember.TextField valueBinding="view.tip" size=100 }} </label>
    <label>
      {{t _question_id}}: <span class="fadedText">({{t _optional}})</span> {{tooltip _question_id_tooltip}}
      {{#if view.questionIdValidationFailure }}
      <span style="color:red">{{view.questionIdValidationFailureReason}}</span>
      {{/if}}
      {{view Ember.TextField valueBinding="view.questionId" size=100}}
    </label>
    <label class="labelcheckbox">{{view Ember.Checkbox checkedBinding="view.mandatoryFlag"}}{{t _mandatory}}</label>

  {{#if FLOW.Env.showStatisticsFeature}}
    <label class="selectinLabel"><span>{{t _tag}} {{tooltip _what_is_tag}}:</span> {{view Ember.Select
      contentBinding="FLOW.attributeControl.content"
      optionLabelPath="content.name"
      optionValuePath="content.keyId"
      selectionBinding="view.attribute"
      prompt=""
      promptBinding="Ember.STRINGS._select_tag"}}
     <a {{action "showAddAttributeDialog" target="this"}} class="addAttribute"><span>+</span>{{t _create_new_tag}} </a> </label>
      {{#if view.attribute}}<label class="labelcheckbox">{{view Ember.Checkbox checkedBinding="view.includeInMap"}}{{t _include_in_map}}</label>{{/if}}
  {{/if}}

  <label class="selectinLabel">
    <span>
      {{t _question_type}}:
      {{#if view.amDateType}}
        {{tooltip _question_type_date_tooltip}}
      {{/if}}
      {{#if view.amGeoshapeType}}
        {{tooltip _question_type_geoshape_tooltip}}
      {{/if}}
    </span>
    {{view Ember.Select
      contentBinding="FLOW.questionTypeControl.content"
      optionLabelPath="content.label"
      optionValuePath="content.value"
      selectionBinding="view.type" }}
  </label>

  {{#if view.showMetaConfig}}
    {{#if view.showLocaleName}}
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.localeNameFlag"}}{{t _use_in_record_display}} {{tooltip _use_in_record_display_tooltip}}</p></label>
    {{else}}
      {{#if view.amGeoType}}
          <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.localeLocationFlag"}}{{t _use_as_record_location}} {{tooltip _use_as_record_location_tooltip}}</label>
      {{/if}}
    {{/if}}
  {{/if}}

    <!-- Question specific material -->
<div class="questionOption floats-in">

    {{#if view.amOptionType}}
      <h1 class="answerNbr">{{t _settings}}: </h1>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.allowMultipleFlag"}}{{t _allow_multiple}} </label>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.allowOtherFlag"}}{{t _allow_other}} </label>
      <br>
      <p class="optionTitle"><strong>{{t _options}}:&nbsp;</strong></p>
      <div class="optionListView">
    	  {{view FLOW.OptionListView contentBinding="FLOW.questionOptionsControl"}}
    	  <a {{action addOption target="FLOW.questionOptionsControl"}} class="optionAdd">{{t _add_option}}</a>
      </div>
    {{/if}}
    {{#if view.amFreeTextType}}
    <h1 class="answerNbr">{{t _settings}}:</h1>
    <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.requireDoubleEntry"}}{{t _require_double_entry}} {{tooltip _require_double_entry_tooltip}}</label>
    {{/if}}
    {{#if view.amBarcodeType}}
    <h1 class="answerNbr">{{t _settings}}: </h1>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.allowMultipleFlag"}}{{t _enable_bulk_barcode_scan}} </label>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.geoLocked"}}{{t _disable_manual_geo_edit}} </label>
    {{/if}}
    {{#if view.amNumberType}}
    <h1 class="answerNbr">{{t _settings}}: </h1>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.allowSign"}}{{t _allow_sign}} </label>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.allowDecimal"}}{{t _allow_decimal_point}} </label>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.requireDoubleEntry"}}{{t _require_double_entry}} {{tooltip _require_double_entry_tooltip}}</label>

      <label class="minValNumb">{{t _min_val}}: {{view Ember.TextField valueBinding="view.minVal" size=10 }}</label>
      <label class="maxValNumb">{{t _max_val}}: {{view Ember.TextField valueBinding="view.maxVal" size=10 }}</label>
    {{/if}}
     {{#if view.amGeoType}}
    <h1 class="answerNbr">{{t _settings}}: </h1>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.geoLocked"}}{{t _disable_manual_geo_edit}} </label>
    {{/if}}

    {{#if view.amTextType}}
      {{#if FLOW.Env.showExternalSourcesFeature}}
        <label class="labelcheckbox">{{view Ember.Checkbox checkedBinding="view.allowExternalSources"}}{{t _allow_external_sources}}</label>
      {{/if}}
    {{/if}}

    {{#if view.amCascadeType}}
        <h1 class="answerNbr">{{t _settings}}: </h1>
         <label class="selectinLabel dependencySelect"> {{t _choose_cascade_question_resource}}: {{tooltip _choose_cascade_question_resource_tooltip}}
        {{view Ember.Select
        contentBinding="FLOW.cascadeResourceControl.published.arrangedContent"
        selectionBinding="FLOW.selectedControl.selectedCascadeResource"
        optionLabelPath="content.name"
        optionValuePath="content.keyId"
        prompt=""
        promptBinding="Ember.STRINGS._select_cascade"}}</label>
    {{/if}}
    {{#if view.amCaddisflyType}}
        <h1 class="answerNbr">{{t _settings}}: </h1>
         <label class="selectinLabel dependencySelect"> {{t _choose_caddisfly_question_resource}}: {{tooltip _choose_caddisfly_question_resource_tooltip}}
        {{view Ember.Select
        contentBinding="FLOW.router.caddisflyResourceController"
        selectionBinding="FLOW.selectedControl.selectedCaddisflyResource"
        optionLabelPath="content.displayName"
        optionValuePath="content.keyId"
        prompt=""
        promptBinding="Ember.STRINGS._select_caddisfly_test"}}</label>
    {{/if}}
    {{#if view.amGeoshapeType}}
    <h1 class="answerNbr">{{t _settings}}: </h1>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.allowPoints"}}{{t _allow_points}} </label>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.allowLine"}}{{t _allow_line}} </label>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.allowPolygon"}}{{t _allow_polygon}} </label>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.geoLocked"}}{{t _disable_manual_geo_edit}} </label>
    {{/if}}

    {{#if view.amNoOptionsType}}
    <p class="noOptions">
      {{t _no_additional_settings_for_this_type_of_question}}
    </p>
    {{/if}}

</div>
<div class="dependencyBlock">
    <label class="labelcheckbox">{{view Ember.Checkbox checkedBinding="view.dependentFlag"}}{{t _dependent}}
    </label>

     {{#if view.dependentFlag}}
    <label class="selectinLabel dependencySelect"> {{t _dependent_question}}:
        {{view Ember.Select
        contentBinding="FLOW.questionControl.earlierOptionQuestions"
        selectionBinding="FLOW.selectedControl.dependentQuestion"
        optionLabelPath="content.text"
        optionValuePath="content.keyId"
        prompt=""
        promptBinding="Ember.STRINGS._select_question"}}</label>
    {{/if}}
     {{#if view.dependentFlag}}
    {{#if FLOW.selectedControl.dependentQuestion}}
     <div class="qDependency">{{t _answer_of_dependent_question}}:</div>
      {{#each item in FLOW.optionListControl.content}}
        <label>{{view Ember.Checkbox checkedBinding="item.isSelected"}}{{item.value}}</label>
      {{/each}}
      {{/if}}
  {{/if}}
</div>
<!-- add attribute dialog-->
    <div {{bindAttr class="view.showAddAttributeDialogBool:display :overlay"}}>
      <div class="blanket"></div>
          <div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialog">
          <h2>{{t _add_attribute}}</h2>
          <p class="dialogMsg">{{t _please_provide_name_for_attribute}}</p>
          <br/>
         <label for="newAttributeName">{{t _attribute_name}}:</label> {{view Ember.TextField valueBinding="view.newAttributeName" id="newAttributeName" size=40}}
         <label for="newAttributeGroup">{{t _group}}:</label> {{view Ember.TextField valueBinding="view.newAttributeGroup" id="newAttributeGroup" size=40}}
          <label>{{t _value_type}}:</label>
             {{view Ember.Select
            contentBinding="FLOW.attributeTypeControl.content"
            selectionBinding="view.newAttributeType"
            optionLabelPath="content.label"
            optionValuePath="content.value"
            prompt=""
            promptBinding="Ember.STRINGS._select_value_type"}}

          <div class="buttons menuCentre">
            <ul>
               <li><a {{action "doAddAttribute" target="this"}} class="ok smallBtn">{{t _save}}</a></li>
              <li><a {{action "cancelAddAttribute" target="this"}} class="cancel">{{t _cancel}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End question specific material -->
    <nav>
      <ul>
        <li><a class="button" id="standardBtn_01" {{action "doSaveEditQuestion" target="this"}}>{{t _save_question}}</a> </li>
        <li><a class="cancel" id="standardBtn_01" {{action "doCancelEditQuestion" target="this"}}>{{t _cancel}}</a> </li>
      </ul>
    </nav>
  {{else}}
    <!-- nav is only displayed if question is closed -->
    <nav class="smallMenu">
      <ul>
		{{#if view.showQuestionModifyButtons}}
        <li><a {{action confirm FLOW.dialogControl.delQ target="FLOW.dialogControl"}} class="deleteQuestion">{{t _delete}}</a> </li>
        <li><a {{action "doQuestionCopy" target="this"}} class="copyQuestion" id="">{{t _copy}}</a></li>
        <li><a {{action "doQuestionMove" target="this"}} class="moveQuestion" id="">{{t _move}}</a></li>
        <li><a {{action "doQuestionEdit" target="this"}} class="editQuestion" id="">{{t _edit}}</a></li>
		{{/if}}
      </ul>
    </nav>
    <h1 class="questionNbr"><a {{action "doQuestionEdit" target="this"}} class="textLink"><span>{{view.content.order}}} </span>{{view.content.text}}</a></h1>

  {{/if}}
  </div>

{{/unless}}
  <div>
	{{#if view.showQuestionModifyButtons}}
	  {{#if view.oneSelectedForMove}}
		<nav class="moveQMenu questionActionMenu">
		  <ul>
			<li><a {{action "doQuestionMoveHere" target="this"}} class="button smallButton">{{t _move_question_here}}</a></li>
			<li><a {{action "doQuestionMoveCancel" target="this"}} class="">{{t _cancel}}</a></li>
		  </ul>
		</nav>
	  {{else}}
		{{#if view.oneSelectedForCopy}}
		  <nav class="copyQMenu questionActionMenu">
			<ul>
			  <li><a {{action "doQuestionCopyHere" target="this"}} class="button smallButton">{{t _paste_question_here}}</a></li>
			  <li><a {{action "doQuestionCopyCancel" target="this"}} class="">{{t _cancel}}</a></li>
			</ul>
		  </nav>
		 {{else}}
		   <a {{action "doInsertQuestion" target="this"}} class="addQuestion">{{t _add_new_question}}</a>
		{{/if}}
	  {{/if}}
	{{/if}}
  </div>
