{{#unless view.zeroItemQuestion}}

<div class="innerContent" id="innerContent_01"> 
  {{#if view.amOpenQuestion}}
    <h1 class="questionNbr"><span>{{view.content.order}}} </span>{{view.content.text}}</h1>
    <label>{{t _question_text}}: {{view Ember.TextField valueBinding="view.text" size=100 }}</label>
    <!-- Body of question -->
    <label>Question type: {{view Ember.Select 
      contentBinding="FLOW.questionTypeControl.content" 
      optionLabelPath="content.label" 
      optionValuePath="content.value" 
      selectionBinding="view.type" }} </label>
    <label>{{t _question_help_tooltip}}: <span class="fadedText">({{t _optional}})</span> {{view Ember.TextField valueBinding="view.tip" size=100 }} </label>
    <label class="labelcheckbox">{{view Ember.Checkbox checkedBinding="view.mandatoryFlag"}}{{t _mandatory}}</label>
    <label class="labelcheckbox">{{view Ember.Checkbox checkedBinding="view.checkedDependent"}}{{t _dependent}}
    </label>

    <!-- Question specific material --> 
    {{#if view.amOptionType}}
      <h1 class="answerNbr">{{t _option_details}}: </h1>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.allowMultipleFlag"}}{{t _allow_multiple}} </label>
      <label class="labelcheckbox"> {{view Ember.Checkbox checkedBinding="view.allowOtherFlag"}}{{t _allow_other}} </label>
      <br>
      <p><strong>{{t _options}}:&nbsp;</strong><span class="fadedText"> ({{t _enter_each_choice_on_a_separate_line}})</span> </p>
      {{view Ember.TextArea valueBinding="view.optionList" size="100" rows="7" }}  
    {{/if}}                 
    
    {{#if view.amNumberType}}
      TODO: Number specific content
    {{/if}} 
    <!-- End question specific material -->

    <nav>
      <ul>
        <li><a class="standardBtn" id="standardBtn_01" {{action "doSaveEditQuestion" target="this"}}>Save Question</a> </li>
        <li><a class="" id="standardBtn_01" {{action "doCancelEditQuestion" target="this"}}>Cancel</a> </li>
      </ul>
    </nav>
  {{else}}   
    <!-- nav is only displayed if question is closed -->
    <nav class="smallMenu">
      <ul>
        <li><a {{action confirm FLOW.dialogControl.delQ target="FLOW.dialogControl"}} class="deleteQuestion">{{t _delete}}</a> </li>
        <li><a {{action "doQuestionCopy" target="this"}} class="copyQuestion" id="">{{t _copy}}</a></li>
        <li><a {{action "doQuestionMove" target="this"}} class="moveQuestion" id="">{{t _move}}</a></li>
        <li><a {{action "doQuestionEdit" target="this"}} class="editQuestion" id="">{{t _edit}}</a></li>
      </ul>
    </nav>
    <h1 class="questionNbr"><span>{{view.content.order}}} </span>{{view.content.text}}</h1>

  {{/if}} 
  </div>

{{/unless}}
  <div>
    {{#if view.oneSelectedForMove}}
      <nav class="moveQMenu questionActionMenu">
        <ul>
          <li><a {{action "doQuestionMoveHere" target="this"}} class="smallBtn">{{t _move_question_here}}</a></li>
          <li><a {{action "doQuestionMoveCancel" target="this"}} class="">{{t _cancel_move}}</a></li>
        </ul>
      </nav>
    {{else}}   
      {{#if view.oneSelectedForCopy}}
        <nav class="copyQMenu questionActionMenu">
          <ul>
            <li><a {{action "doQuestionCopyHere" target="this"}} class="smallBtn">{{t _paste_question_here}}</a></li>
            <li><a {{action "doQuestionCopyCancel" target="this"}} class="">{{t _cancel_copy}}</a></li>
          </ul>
        </nav>
       {{else}} 
         <a {{action "doInsertQuestion" target="this"}} class="addQuestion">{{t _add_new_question_here}}</a> 
      {{/if}}  
    {{/if}} 
  </div>