<section id="main" class="mapFlow floats-in middleSection" role="main">
  {{! <div id="drawHandleWrap"></div>}}
  <div id="dropdown-holder">
    <div id="mapDetailsHideShow" class="drawHandle hideMapD">{{t _hide}} &rsaquo;</div>
  </div>

  <div>
    <div style="width: 150px; float: left">
      <label for="survey_selector">Select a survey</label>
      <select class="" name="survey_selector" id="survey_selector">
        <option value="">--All--</option>
      </select>
    </div>
    <div style="width: 150px; float: left">
      <label for="form_selector">Select a form</label>
      <select class="" name="form_selector" id="form_selector">
        <option value="">--All--</option>
      </select>
    </div>
  </div>
  <div id="flowMap"></div>
  {{#view FLOW.PlacemarkDetailView controllerBinding="FLOW.placemarkDetailController"}}
    <div id="pointDetails">
      {{#if content}}
        <ul class="placeMarkBasicInfo floats-in">
          <li>
            <span>{{t _collected_on}}:</span>
            <div class="placeMarkCollectionDate">
              {{date2 collectionDate}}
            </div>
          </li>
          <li></li>
        </ul>
        <div {{bindAttr class=":imgContainer photoUrl:shown:hidden"}}>
          {{#each photo in photoUrl}}
            <a href="{{unbound photo}}" target="_blank">
              <img src="{{unbound photo}}" alt=""/>
            </a>
          {{/each}}
        </div>
        <dl class="floats-in">
          {{#each arrangedContent}}
            {{placemarkDetail}}
          {{else}}
            <p class="noDetails">{{t _no_details}}</p>
          {{/each}}
        </dl>
      {{else}}
        <p class="noDetails">{{t _no_details}}</p>
      {{/if}}

    </div>
  {{/view}}
  <div id="flowMapLegend">
    <h1>{{t _legend}}</h1>
  </div>
</section>

<style>
  #pointDetails > dl > div.defListWrap:nth-child(odd) {
    background-color: rgb(204,214,214);
  }
</style>
