<section id="main" class="mapFlow floats-in" role="main">
  {{! <div id="drawHandleWrap"></div>}}
  <div id="dropdown-holder">
    {{#view FLOW.countryView controllerBinding="FLOW.countryController"}}
      {{#if FLOW.countryController.content}}
        <label for="country"><span class="inlined">{{t _country}}:</span>
          {{view Ember.Select
          contentBinding="FLOW.countryController.content"
          valueBinding="FLOW.countryController.selected"
          optionLabelPath="content.label"
          selectionBinding="FLOW.countryController.country"}}
        </label>
      {{/if}}
    {{/view}}
    <div id="mapDetailsHideShow" class="drawHandle hideMapD">{{t _hide}} &rsaquo;</div>
  </div>

  <div id="flowMap"></div>
  {{#view FLOW.PlacemarkDetailView controllerBinding="FLOW.placemarkDetailController"}}
    <div id="pointDetails">
      {{#if content}}
        <ul class="placeMarkBasicInfo floats-in">
          <li>
            <span>{{t _collected_on}}:</span>
            <div class="placeMarkCollectionDate">
              {{date2 FLOW.placemarkController.selected.collectionDate}}
            </div>
          </li>
          <li>
            <div class="placeMarkPointCode"> 
              {{FLOW.placemarkDetailController.selectedPointCode}}
            </div>
          </li>
        </ul>
        <div {{bindAttr class=":imgContainer photoUrl:shown:hidden"}}>
          {{#each photo in photoUrl}}
            <a href="{{unbound photo}}" target="_blank">
              <img src="{{unbound photo}}" alt=""/>
            </a>
          {{/each}}
        </div>
        <dl class="floats-in">
          {{#each arrangedContent}}
            {{placemarkDetail}}
          {{else}}
            <p class="noDetails">{{t _no_details}}</p>
          {{/each}}
        </dl>
      {{else}}
        <p class="noDetails">{{t _no_details}}</p>
      {{/if}}
      
    </div>
  {{/view}}
  <div id="flowMapLegend">
    <h1>{{t _legend}}</h1>
  </div>
</section>

<style>
  #pointDetails > dl > div.defListWrap:nth-child(odd) {
    background-color: rgb(204,214,214);
  }
</style>