{{#view FLOW.UserListView}}
<h1>Manage users and user rights</h1>
<div class="greyBg">
  <section id="" class="fullWidth usersList"> 
 <a {{action "showAddUserDialog" target="this"}}class="standardBtn btnAboveTable" >Add new user</a>
    <!-- userS TABLE-->
    <table id="usersListTable" class="dataTable" >
      <!-- TABLE HEADER-->
      <thead>
        <tr>
           {{#view FLOW.ColumnView item="userName" type="user"}}
                  <a {{action "sort" target="this"}} class="userName">User Name</a>
           {{/view}}
           {{#view FLOW.ColumnView item="emailAddress" type="user"}}
                  <a {{action "sort" target="this"}} class="emailAdr">Email</a>
           {{/view}}
            {{#view FLOW.ColumnView item="permissionList" type="user"}}
                  <a {{action "sort" target="this"}} class="emailAdr">Permission level</a><a href="#" title="There are three permission levels: User, Project Editor and Administrator. Read more on the FLOW documentation site, or contact your Administrator for details.
" class="tooltip helpIcon">more info</a>
           {{/view}}
          <th class="action noArrows" >Actions</th>
        </tr>
      </thead>
      <!-- TABLE BODY: MAIN CONTENT-->
      <tbody>
        {{#each user in FLOW.userControl}}
          <tr>
            <td class="userName" style="text-align:left; padding:0 0 0 20px;">{{user.userName}}</td>
            <td class="emailAdr" style="text-align:left;">{{user.emailAddress}}</td>
            <td class="permLevel admin">{{user.permissionList}}</td>
            <td class="action"> <a {{action "showEditUserDialog" user target="this"}} class="edit">edit</a> {{#view FLOW.UserView contentBinding="user"}}<a {{action confirm FLOW.dialogControl.delUser target="FLOW.dialogControl"}} class="remove">remove</a>{{/view}}
        
            </td>
          </tr>

        {{/each}}
      </tbody>
      
      <!-- TABLE FOOTER-->
      <tfoot>
        <tr>
          <td colspan="7"><small>This is the footer.</small></td>
        </tr>
      </tfoot>
    </table>
  </section>
</div>

   <!-- new user dialog-->
    <div {{bindAttr class="view.showAddUserBool:display :overlay"}}>
      <div class="blanket"></div>
          <div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialog">
          <h2>Add new user</h2>
          <p class="dialogMsg">Please provide a user name, email address and permission level below.</p>
          
          <label for="newUserName">Username:</label> {{view Ember.TextField valueBinding="FLOW.editControl.newUserName" id="newUserName" size=40}}<br/>
           <label for="newEmail">Email address:</label> {{view Ember.TextField valueBinding="FLOW.editControl.newEmailAddress" id="newEmail" size=40}}<br/>
          
            {{view Ember.Select 
            contentBinding="FLOW.permissionLevelControl.content" 
            selectionBinding="FLOW.editControl.newPermissionLevel" 
            optionLabelPath="content.label" 
            optionValuePath="content.value" 
            prompt="Select permission level"}} 
 
          <div class="buttons menuCentre"> 
            <ul>  
               <li><a {{action "doAddUser" target="this"}} class="ok smallBtn">SAVE</a></li>
              <li><a {{action "cancelAddUser" target="this"}}} class="cancel">CANCEL</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

      <!-- edit existing user dialog-->
    <div {{bindAttr class="view.showEditUserBool:display :overlay"}}>
      <div class="blanket"></div>
          <div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialog">
          <h2>Edit user</h2>
          <p class="dialogMsg">Please edit the username, email address and permission level below.</p>
          <label for="editUserName">Username:</label> {{view Ember.TextField valueBinding="FLOW.editControl.editUserName" id="editUserName" size=40}}<br/>
           <label for="editEmail">Email address:</label> {{view Ember.TextField valueBinding="FLOW.editControl.editEmailAddress" id="editEmail" size=40}}<br/>
          
            {{view Ember.Select 
            contentBinding="FLOW.permissionLevelControl.content" 
            selectionBinding="FLOW.editControl.editPermissionLevel" 
            optionLabelPath="content.label" 
            optionValuePath="content.value" 
            prompt="Select permission level"}} 
 
          <div class="buttons menuCentre"> 
            <ul>  
               <li><a {{action "doEditUser" target="this"}} class="ok smallBtn">SAVE</a></li>
              <li><a {{action "cancelEditUser" target="this"}}} class="cancel">CANCEL</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

{{/view}}