{{#view FLOW.MessagesListView}}
<div class="middleSection">
  <section id="" class="fullWidth messagesList"> 
    <!-- Messages TABLE-->
    <table id="messageListTable" class="dataTable" >
      <!-- TABLE HEADER-->
      <thead>
        <tr>
           {{#view FLOW.ColumnView item="lastUpdateDateTime" type="message"}}
                  <a {{action "sort" target="this"}} class="date">{{t _date}}</a>
           {{/view}}
           {{#view FLOW.ColumnView item="objectId" type="message"}}
                  <a {{action "sort" target="this"}} class="objectId">{{t _form_id}}</a>
           {{/view}}
            {{#view FLOW.ColumnView item="objectTitle" type="message"}}
                  <a {{action "sort" target="this"}} class="survey">{{t _survey}}</a>
           {{/view}}
           {{#view FLOW.ColumnView item="actionAbout" type="message"}}
                  <a {{action "sort" target="this"}} class="type">{{t _type}}</a>
           {{/view}}
           {{#view FLOW.ColumnView item="shortMessage" type="message"}}
                  <a {{action "sort" target="this"}} class="message">{{t _message}}</a>
           {{/view}}
        </tr>
      </thead>
      <!-- TABLE BODY: MAIN CONTENT-->
      <tbody>
        {{#each mess in FLOW.messageControl}}
          <tr>
            <td class="date" style="text-align:left; padding:0 0 0 20px;">{{#with mess}}{{date1 lastUpdateDateTime}}{{/with}}</td>
             <td class="actionAbout">{{unbound mess.objectId}}</td>
            <td class="objectTitle">{{unbound mess.objectTitle}}</td>
            <td class="actionAbout">{{unbound mess.actionAbout}}</td>
            <td class="message" style="text-align:left; padding:0 0 0 20px;">{{unbound mess.shortMessage}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
     <ul class="prevNext">
            <li class="prevBtn">{{#if view.hasPrevPage}}<a {{action doPrevPage target='this'}}> &lsaquo; {{t _previous}}</a> {{/if}}</li>
        <li class="nextBtn">{{#if view.hasNextPage}}<a {{action doNextPage target='this'}}>{{t _next}} &rsaquo;</a>{{/if}}</li>
        </ul>
  </section>
</div>

{{/view}}