<section class="fullWidth" id="currentDevices">

 <section class="fullWidth " id="devicesList">
        <!-- DEVICES TABLE-->

      {{#view FLOW.CurrentDevicesTabView}}

         <div id="devicesListTable_length" class="dataTables_length">
          <!--   <label>
                Show
                <select size="1" name="deviceListTable_length">
                    <option value="10" selected="selected">10</option> 
                    <option value="20" >20</option> 
                    <option value="50" >50</option> 
                    <option value="100" >100</option> 

                </select>

                &nbsp;entries

            </label> -->

        </div> 
        
         {{#if FLOW.surveyAssignmentControl.atLeastOneSelected}}
            <a {{action "showDeleteDevicesdialog" target="this"}}>Disable Devices</a>
        {{/if}}

        <table class="dataTable" id="deviceDataTable">
            <!-- TABLE HEADER-->
            <thead>
               <tr>
                {{#view FLOW.ColumnView item="select" }}
                    {{view Ember.Checkbox checkedBinding="FLOW.surveyAssignmentControl.allAreSelected"}}
                {{/view}}
                {{#view FLOW.ColumnView item="name" type="assignment"}}
                  <a {{action "sort" target="this"}}>Name</a>
                {{/view}}
                {{#view FLOW.ColumnView item="startDate" type="assignment"}}
                  <a {{action "sort" target="this"}}>Start date</a>
                {{/view}}
                {{#view FLOW.ColumnView item="endDate" type="assignment"}}
                  <a {{action "sort" target="this"}}>End date</a>
                {{/view}}

                 <th> <a>Action</a></th>
               </tr>
            </thead>
            <!-- TABLE BODY: MAIN CONTENT-->
            <tbody>
                {{#each FLOW.surveyAssignmentControl}}
                  <tr>
                    <td class="selection" style="text-align:left; padding:0 0 0 5px;"> {{view Ember.Checkbox checkedBinding="isSelected"}}</td>
                    <td class="name" style="text-align:left; padding:0 0 0 5px;">{{name}}</td>
                    <td class="startDate" >{{startDate}}</td>
                    <td class="endDate" >{{endDate}}</td>
                    <td class="action"><a>action</a></td>
                  </tr>
                {{/each}}
            </tbody>
            <!-- TABLE FOOTER-->
            <tfoot>
                <tr>
                    <td colspan="7"><small>This is the footer.</small></td>
                </tr>
            </tfoot>
        </table>
   <!--     {{#if view.showConfirmDeletedialog}}
            <a {{action "doDelete" target="this"}}>Ok</a>
            <a {{action "cancelDelete" target="this"}}>Cancel</a>
        {{/if}}     -->

        {{/view}}
    </section>
       

</section>