
<section class="fullWidth reportTools" id="reportBlocks">
{{#view FLOW.ExportReportsAppletView}}
  <div class="">
    {{#unless FLOW.projectControl.isLoading}}
      {{view FLOW.SurveySelectionView}}
    {{/unless}}

    {{#if FLOW.selectedControl.selectedSurvey}}
      {{view Ember.Select
          contentBinding="FLOW.surveyControl.arrangedContent"
          selectionBinding="FLOW.selectedControl.selectedSurvey"
          optionLabelPath="content.code"
          optionValuePath="content.keyId"
          prompt=""
          promptBinding="Ember.STRINGS._select_form"}}
      {{#if FLOW.selectedControl.selectedSurvey}}
        {{view Ember.Select
            contentBinding="FLOW.reportLanguageControl.arrangedContent"
            selectionBinding="FLOW.reportLanguageControl.selectedLanguage"
            optionLabelPath="content.label"
            optionValuePath="content.value"
            prompt=""
            promptBinding="Ember.STRINGS._select_language"}}
      {{/if}}
    {{/if}}
  </div>
<div class="rawDataReport block dataExport">
  <h3>{{t _export_raw_data_report}}</h3>
    <p>{{t _raw_data_report_applet_text_}}</p>
    {{#if view.showLastCollection}}
    <p><label for="lastCollection">{{t _export_only_last_collection}}:</label> {{view Ember.Checkbox checkedBinding="FLOW.editControl.lastCollection" id="lastCollection"}}</p>
    {{/if}}

      <div class="exportAdvancedOpt">
        <a {{action "toggleShowAdvancedSettings" target="this"}} class="button">
          {{#if view.showAdvancedSettings}}
            {{t _collapse}}
          {{else}}
            {{t _show_advanced_settings}}
          {{/if}}
        </a>
        {{#if view.showAdvancedSettings}}
            <label for="useQuestionId">{{t _export_report_for_external_use_only}}</label> {{view Ember.Checkbox checkedBinding="FLOW.editControl.useQuestionId" id="useQuestionId"}}
        {{/if}}
      </div>

    <div class="dataCollectedDate">
        <label class="collectedFrom">
          <span>{{t _collected_from}}:</span> {{view FLOW.DateField minDate=false valueBinding="FLOW.dateControl.fromDate" elementId="from_date" placeholder="" placeholderBinding="Ember.STRINGS._collected_from" size=30}}
        </label>
        <label class="collectedTo">
          <span>{{t _to}}:</span> {{view FLOW.DateField minDate=false valueBinding="FLOW.dateControl.toDate" elementId="to_date" placeholder="" placeholderBinding="Ember.STRINGS._to" size=30}}
        </label>
    </div>
    <a {{action showRawDataReport target="this"}} class="standardBtn"> {{t _raw_data_report}} </a>
</div>
<div class="comprehensiveReport block">
  <h3>{{t _export_comprehensive_report}}</h3>
   <p>{{t _comprehensive_report_applet_text}}.</p>
  <a {{action showComprehensiveOptions target="this"}} class="standardBtn"> {{t _comprehensive_report}} </a>
</div>

{{#if view.showGoogleEarthButton }}
<div class="googleEarthExport block">
  <h3>{{t _export_google_earth_file}}</h3>
 <p>{{t _google_earth_applet_text_}}</p>
  <a {{action showGoogleEarthFile target="this"}} class="standardBtn"> {{t _google_earth_file}} </a>
</div>
{{/if}}

<div class="geoshapeExport block">
  <h3>{{t _export_geoshape_report}}</h3>
  <p>{{t _export_geoshape_export_text}}</p>
  <div class="geoshapeSelect">
    {{#if FLOW.selectedControl.selectedSurvey}}
      {{view Ember.Select
          contentBinding="FLOW.questionControl.geoshapeContent"
          selectionBinding="FLOW.selectedControl.selectedQuestion"
          optionLabelPath="content.text"
          optionValuePath="content.keyId"
          prompt=""
          promptBinding="Ember.STRINGS._select_question"}}
    {{/if}}
  </div>
  <a {{action showGeoshapeReport target="this"}} class="standardBtn"> {{t _export_geoshape_report}}</a>
</div>

<div class="rawTextFile block">
  <h3>{{t _raw_text_file}}</h3>
  <p>{{t _raw_text_file_text}}</p>
  <a {{action showRawTextFileExport target="this"}} class="standardBtn"> {{t _raw_text_file}} </a>
</div>

<div class="surveyFormExport block">
  <h3>{{t _export_survey_form}}</h3>
  <p>{{t _survey_form_applet_text_}}</p>
  <a {{action showSurveyForm target="this"}} class="standardBtn"> {{t _survey_form}} </a>
</div>
  {{#if view.showSurveyFormApplet }}
    {{view FLOW.surveyFormApplet}}
  {{/if}}

  <!-- Comprehensive report options -->
<div {{bindAttr class="view.showComprehensiveDialog:display :overlay"}}>
      <div class="blanket"></div>
          <div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialog">
          <h2>{{t _options}}</h2>
          <p class="dialogMsg"></p>

           <label for="summaryPerGeoArea">{{t _generate_summary_per_geo_area}}:</label> {{view Ember.Checkbox checkedBinding="FLOW.editControl.summaryPerGeoArea" id="summaryPerGeoArea"}}<br/>
           <label for="omitCharts">{{t _omit_charts}}:</label> {{view Ember.Checkbox checkedBinding="FLOW.editControl.omitCharts" id="omitCharts"}}<br/>

          <div class="buttons menuCentre">
            <ul>
               <li><a {{action "showComprehensiveReport" target="this"}} class="ok smallBtn">{{t _ok}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{{/view}}
</section>
