<section class="fullWidth" id="excelImport">
{{#view FLOW.exportreportsView}}
  <h1>Export data</h1>

 {{view Ember.Select 
      contentBinding="FLOW.surveyGroupControl.content" 
      selectionBinding="FLOW.selectedControl.selectedSurveyGroup" 
      optionLabelPath="content.code" 
      optionValuePath="content.keyId" 
      prompt="Select survey group"}}

      {{view Ember.Select 
        contentBinding="FLOW.surveyControl.content" 
        selectionBinding="FLOW.selectedControl.selectedSurvey" 
        optionLabelPath="content.code" 
        optionValuePath="content.keyId" 
        prompt="Select survey"}}
<div class="rawDataReport block">
  <h3>Export raw data report</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in ligula et ipsum feugiat egestas ac vel arcu. Mauris sollicitudin pretium sem eget mollis. Cras sit amet mauris turpis. Ut molestie lobortis laoreet. Fusce lectus nibh, feugiat eu adipiscing a, gravida vitae risus. Suspendisse velit lorem, molestie sed commodo non, aliquet ornare arcu. Suspendisse potenti. Pellentesque pellentesque lacus sed justo egestas et dignissim mauris placerat.</p>
  <a {{action showRawDataReport target="this"}} class="standardBtn"> {{t _raw_data_report}} </a>
</div>
  {{#if view.showRawDataReportApplet }}
    {{view FLOW.rawDataReportApplet }}
  {{/if}}
<div class="comprehensiveReport block">
  <h3>Export comprehenive report</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in ligula et ipsum feugiat egestas ac vel arcu. Mauris sollicitudin pretium sem eget mollis. Cras sit amet mauris turpis. Ut molestie lobortis laoreet. Fusce lectus nibh, feugiat eu adipiscing a, gravida vitae risus. Suspendisse velit lorem, molestie sed commodo non, aliquet ornare arcu. Suspendisse potenti. Pellentesque pellentesque lacus sed justo egestas et dignissim mauris placerat. </p>
  <a {{action showComprehensiveReport target="this"}} class="standardBtn"> {{t _comprehensive_report}} </a>
</div>
  {{#if view.showComprehensiveReportApplet }}
    {{view FLOW.comprehensiveReportApplet}}
  {{/if}}

<div class="googleEarthExport block">
  <h3>Export Google Earth file</h3>
 <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in ligula et ipsum feugiat egestas ac vel arcu. Mauris sollicitudin pretium sem eget mollis. Cras sit amet mauris turpis. Ut molestie lobortis laoreet. Fusce lectus nibh, feugiat eu adipiscing a, gravida vitae risus. Suspendisse velit lorem, molestie sed commodo non, aliquet ornare arcu. Suspendisse potenti. Pellentesque pellentesque lacus sed justo egestas et dignissim mauris placerat. </p>


  <a {{action showGoogleEarthFile target="this"}} class="standardBtn"> {{t _google_earth_file}} </a>  
</div>
  {{#if view.showGoogleEarthFileApplet }}
    {{view FLOW.googleEarthFileApplet}}
  {{/if}}
<div class="surveyFormExport block">
  <h3>Export Survey Form</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in ligula et ipsum feugiat egestas ac vel arcu. Mauris sollicitudin pretium sem eget mollis. Cras sit amet mauris turpis. Ut molestie lobortis laoreet. Fusce lectus nibh, feugiat eu adipiscing a, gravida vitae risus. Suspendisse velit lorem, molestie sed commodo non, aliquet ornare arcu. Suspendisse potenti. Pellentesque pellentesque lacus sed justo egestas et dignissim mauris placerat. </p>


  <a {{action showSurveyForm target="this"}} class="standardBtn"> {{t _survey_form}} </a>
</div>
  {{#if view.showSurveyFormApplet }}
    {{view FLOW.surveyFormApplet}}
  {{/if}}
{{/view}}
</section>