<section class="fullWidth reportTools" id="reportBlocks">
    <div class="surveySelect">
      <nav class="breadCrumb floats-in">
        {{#unless FLOW.projectControl.isLoading}}
          {{view FLOW.SurveySelectionView}}
        {{/unless}}
        {{#if FLOW.selectedControl.selectedSurvey}}
          {{view Ember.Select
              contentBinding="FLOW.surveyControl.arrangedContent"
              selectionBinding="FLOW.selectedControl.selectedSurvey"
              optionLabelPath="content.code"
              optionValuePath="content.keyId"
              prompt=""
              promptBinding="Ember.STRINGS._select_form" id="monitorSelection"}}
        {{/if}}
      </nav>
    </div>
    <section class="exportContainer">
      <ul class="exportSelect">
        <li class="dataCleanExp trigger" onclick="FLOW.ReportLoader.openExportOptions(event, 'dataCleanExp_options')">
          <h2>{{t _data_cleaning_export}}</h2>
          <h6>{{t _importable_back_to_akvo_flow}}</h6>
          <p class="expDescr">{{t _combines_options}}</p>
          {{#view FLOW.ExportReportsAppletView}}
          <div id="dataCleanExp_options" class="options">
              <div class="dataCollectedDate">
                <p>{{view Em.RadioButton titleBinding="FLOW.ReportLoader.dateRangeText" valueBinding="FLOW.ReportLoader.cleaningExportOption" option="range" group="cleaning-export-option"}}</p>
                {{#if view.cleaningDateRangeSelected}}
                <label class="collectedFrom dateInput">
                  {{view FLOW.DateField2 valueBinding="view.reportFromDate" class="from_date" placeholder="" placeholderBinding="Ember.STRINGS._collected_from" size=30}}
                </label>
                <label class="collectedTo dateInput">
                  {{view FLOW.DateField2 valueBinding="view.reportToDate" class="to_date" placeholder="" placeholderBinding="Ember.STRINGS._to" size=30}}
                </label>
                {{/if}}
              </div>
              {{#if view.showLastCollection}}
              <div class="dataCollectedDate"  style="background-color: transparent;">
              {{view Em.RadioButton titleBinding="FLOW.ReportLoader.onlyRecentText" valueBinding="FLOW.ReportLoader.cleaningExportOption" option="recent" group="cleaning-export-option"}}
              </div>
              {{/if}}
            <a {{action showDataCleaningReport target="this"}} class="button trigger2">{{t _download}}</a>
          </div>
          {{/view}}
        </li>
        <li class="dataAnalyseExp trigger" onclick="FLOW.ReportLoader.openExportOptions(event, 'dataAnalyseExp_options')">
          <h2>{{t _data_analysis_export}}</h2>
          <h6>{{t _not_importable_back}}</h6>
          <p class="expDescr">{{t _replaces_question}}</p>
          {{#view FLOW.ExportReportsAppletView}}
            <div id="dataAnalyseExp_options" class="options">
              <div class="dataCollectedDate">
                <p>{{view Em.RadioButton titleBinding="FLOW.ReportLoader.dateRangeText" valueBinding="FLOW.ReportLoader.analysisExportOption" option="range" group="analysis-export-option"}}</p>
                {{#if view.analysisDateRangeSelected}}
                <label class="collectedFrom dateInput">
                   {{view FLOW.DateField2 minDate=false valueBinding="view.reportFromDate" class="from_date" placeholder="" placeholderBinding="Ember.STRINGS._collected_from" size=30}}
                </label>
                <label class="collectedTo dateInput">
                  {{view FLOW.DateField2 minDate=false valueBinding="view.reportToDate" class="to_date" placeholder="" placeholderBinding="Ember.STRINGS._to" size=30}}
                </label>
                {{/if}}
              </div>
              {{#if view.showLastCollection}}
              <div class="dataCollectedDate"  style="background-color: transparent;">
                {{view Em.RadioButton titleBinding="FLOW.ReportLoader.onlyRecentText" valueBinding="FLOW.ReportLoader.analysisExportOption" option="recent" group="analysis-export-option"}}
              </div>
              {{/if}}
              <a {{action showDataAnalysisReport target="this"}} class="button trigger2">{{t _download}}</a>
            </div>
            {{/view}}
          </li>
          <li class="compReportExp trigger"  onclick="FLOW.ReportLoader.openExportOptions(event, 'compReportExp_options')">
            <h2>{{t _comprehensive_report}}</h2>
            <h6>{{t _not_importable_back}}</h6>
            <p class="expDescr">{{t _summarizes_responses}}</p>
            {{#view FLOW.ExportReportsAppletView}}
            <div id="compReportExp_options" class="options">
              <a {{action showComprehensiveReport target="this"}} class="button trigger2">{{t _download}}</a>
            </div>
            {{/view}}
          </li>
          <li class="geoShapeDataExp trigger"  onclick="FLOW.ReportLoader.openExportOptions(event, 'geoShapeDataExp_options')">
            <h2>{{t _geoshape_data}}</h2>
            <p class="expDescr">{{t _geojson}}</p>
              <div class="geoshapeSelect">
              {{#if FLOW.selectedControl.selectedSurvey}}
                {{view Ember.Select
                    contentBinding="FLOW.questionControl.geoshapeContent"
                    selectionBinding="FLOW.selectedControl.selectedQuestion"
                    optionLabelPath="content.text"
                    optionValuePath="content.keyId"
                    prompt=""
                    promptBinding="Ember.STRINGS._select_question"}}
              {{/if}}
            </div>
            {{#view FLOW.ExportReportsAppletView}}
            <div id="geoShapeDataExp_options" class="options">
              <a {{action showGeoshapeReport target="this"}} class="button trigger2">{{t _download}}</a>
            </div>
            {{/view}}
        </li>
        <li class="surveyFormExp trigger"  onclick="FLOW.ReportLoader.openExportOptions(event, 'surveyFormExp_options')">
          <h2>{{t _survey_form}}</h2>
          <p class="expDescr">{{t _printable}}</p>
          {{#view FLOW.ExportReportsAppletView}}
          <div id="surveyFormExp_options" class="options">
            <a {{action showSurveyForm target="this"}} class="button trigger2">{{t _download}}</a>
              {{#if view.showSurveyFormApplet }}
                {{view FLOW.surveyFormApplet}}
              {{/if}}
          </div>
          {{/view}}
      </li>
    </ul>
  </section>
</section>
