
<section class="fullWidth reportTools" id="reportBlocks">
{{#view FLOW.ExportReportsAppletView}}
  <h1>{{t _export_data}}</h1>
  {{view FLOW.SurveySelectionView}}

  {{view Ember.Select
      contentBinding="FLOW.surveyControl.arrangedContent"
      selectionBinding="FLOW.selectedControl.selectedSurvey"
      optionLabelPath="content.code"
      optionValuePath="content.keyId"
      prompt=""
      promptBinding="Ember.STRINGS._select_form"}}
  {{view Ember.Select
      contentBinding="FLOW.reportLanguageControl.arrangedContent"
      selectionBinding="FLOW.reportLanguageControl.selectedLanguage"
      optionLabelPath="content.label"
      optionValuePath="content.value"
      prompt=""
      promptBinding="Ember.STRINGS._select_language"}}

<div class="rawDataReport block">
  <h3>{{t _export_raw_data_report}}</h3>
    <p>{{t _raw_data_report_applet_text_}}</p>
    {{#if view.showLastCollection}}
    <p><label for="lastCollection">{{t _export_only_last_collection}}:</label> {{view Ember.Checkbox checkedBinding="FLOW.editControl.lastCollection" id="lastCollection"}}</p>
    {{/if}}
    <label for="useQuestionId">{{t _use_question_id_as_table_headers}}</label> {{view Ember.Checkbox checkedBinding="FLOW.editControl.useQuestionId" id="useQuestionId"}}<br/>
    <a {{action showRawDataReport target="this"}} class="standardBtn"> {{t _raw_data_report}} </a>

</div>
<div class="comprehensiveReport block">
  <h3>{{t _export_comprehensive_report}}</h3>
   <p>{{t _comprehensive_report_applet_text}}.</p>
  <a {{action showComprehensiveOptions target="this"}} class="standardBtn"> {{t _comprehensive_report}} </a>
</div>

{{#if view.showGoogleEarthButton }}
<div class="googleEarthExport block">
  <h3>{{t _export_google_earth_file}}</h3>
 <p>{{t _google_earth_applet_text_}}</p>


  <a {{action showGoogleEarthFile target="this"}} class="standardBtn"> {{t _google_earth_file}} </a>
</div>
{{/if}}

<div class="rawTextFile block">
  <h3>{{t _raw_text_file}}</h3>
  <p>{{t _raw_text_file_text}}</p>
  <a {{action showRawTextFileExport target="this"}} class="standardBtn"> {{t _raw_text_file}} </a>
</div>

<div class="surveyFormExport block">
  <h3>{{t _export_survey_form}}</h3>
  <p>{{t _survey_form_applet_text_}}</p>
  <a {{action showSurveyForm target="this"}} class="standardBtn"> {{t _survey_form}} </a>
</div>
  {{#if view.showSurveyFormApplet }}
    {{view FLOW.surveyFormApplet}}
  {{/if}}

  <!-- Comprehensive report options -->
<div {{bindAttr class="view.showComprehensiveDialog:display :overlay"}}>
      <div class="blanket"></div>
          <div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialog">
          <h2>{{t _options}}</h2>
          <p class="dialogMsg"></p>

           <label for="summaryPerGeoArea">{{t _generate_summary_per_geo_area}}:</label> {{view Ember.Checkbox checkedBinding="FLOW.editControl.summaryPerGeoArea" id="summaryPerGeoArea"}}<br/>
           <label for="omitCharts">{{t _omit_charts}}:</label> {{view Ember.Checkbox checkedBinding="FLOW.editControl.omitCharts" id="omitCharts"}}<br/>

          <div class="buttons menuCentre">
            <ul>
               <li><a {{action "showComprehensiveReport" target="this"}} class="ok smallBtn">{{t _ok}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{{/view}}
</section>
