<section class="fullWidth" id="reportBlocks">
  <div>
  <h1>{{t _statistics}}</h1>
  
    <div>
        {{view Ember.Select 
      contentBinding="FLOW.surveyGroupControl.arrangedContent"
      selectionBinding="FLOW.selectedControl.selectedSurveyGroup" 
      optionLabelPath="content.code" 
      optionValuePath="content.keyId"
      prompt=""
      promptBinding="Ember.STRINGS._select_survey_group"}}
    <span class=""></span>
      {{view Ember.Select 
        contentBinding="FLOW.surveyControl.arrangedContent"
        selectionBinding="FLOW.statisticsControl.selectedSurvey" 
        optionLabelPath="content.name" 
        optionValuePath="content.keyId"
        prompt=""
        promptBinding="Ember.STRINGS._select_survey"}}
      </div>
<div class="rawDataReport block">
  <p>{{t _select_survey_to_view_stats_}}</p>
      <table class="dataTable" id="statisticsDataTable" >
        <thead>
          <tr>
              <th class="noArrows">{{t _metric}}</th>
              <th class="noArrows">{{t _value}}</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="metric" style="text-align:left;"><strong>Respondents</strong></td>
              <td class="metricValue" style="text-align:left;">{{FLOW.statisticsControl.total}}</td>
            </tr>
          {{#each metric in FLOW.statisticsControl.arrangedContent}}
            <tr>
              <td class="metric" style="text-align:left;"><strong>{{metric.name}}<strong></td>
              <td class="metricValue" style="text-align:left;"></td>
            </tr>
           {{#view FLOW.StatisticsMetricView contentBinding="metric"}}
            {{#each answer in view.answers}}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{answer.response}}: &nbsp;&nbsp;&nbsp; {{answer.count}} &nbsp;&nbsp;&nbsp;({{answer.percentage}}%)<br>
              {{/each}}
           {{/view}}
          {{/each}}
        </tbody>
       
      </table>

  </div>
</div>
</section>
