<section class="fullWidth" id="currentDevices">

 <section class="fullWidth " id="devicesList">
        <!-- DEVICES TABLE-->
      {{#view FLOW.CurrentDevicesTabView}}
        <table class="dataTable" id="surveyDataTable">
            <!-- TABLE HEADER-->
            <thead>
                {{view FLOW.DevicesTableHeaderView}}
            </thead>
            <!-- TABLE BODY: MAIN CONTENT-->
            <tbody>
                {{#each FLOW.deviceControl}}

                <tr>
                    <td class="phoneNumber" style="text-align:left; padding:0 0 0 5px;">{{phoneNumber}}</td>
                    <td class="deviceId" >{{deviceIdentifier}}</td>
                    <td class="deviceGroup">{{deviceGroup}}</td>
                    <td class="lastUpdate" >{{lastUpdate}}</td>
                    <td class="lastBeacon">{{lastLocationBeaconTime}}</td>
                    <td class="lastLat">{{lastKnownLat}}</td>
                    <td class="lastLon">{{lastKnownLong}}</td>
                    <td class="action"><a>action</a></td>
                </tr>
                {{/each}}
            </tbody>
            <!-- TABLE FOOTER-->
            <tfoot>
                <tr>
                    <td colspan="7"><small>This is the footer.</small></td>
                </tr>
            </tfoot>
        </table>
        {{/view}}
    </section>

</section>