<section class="fullWidth" id="currentDevices">

 <section class="fullWidth " id="devicesList">
        <!-- DEVICES TABLE-->

      {{#view FLOW.CurrentDevicesTabView}}

        <div id="devicesListTable_length" class="dataTables_length">
            <label>
                Show
                <select size="1" name="deviceListTable_length">
                    <option value="10" selected="selected">10</option> 
                    <option value="20" >20</option> 
                    <option value="50" >50</option> 
                    <option value="100" >100</option> 

                </select>

                &nbsp;entries

            </label>

        </div>
         
         {{#if FLOW.deviceControl.atLeastOneSelected}}
            <a {{action "showDeleteDevicesdialog" target="this"}}>Delete Devices</a>
        {{/if}}


        <table class="dataTable" id="surveyDataTable">
            <!-- TABLE HEADER-->
            <thead>
                {{view FLOW.DevicesTableHeaderView}}
            </thead>
            <!-- TABLE BODY: MAIN CONTENT-->
            <tbody>
                {{#each FLOW.deviceControl}}

                <tr>
                    <td class="selection" style="text-align:left; padding:0 0 0 5px;"> {{view Ember.Checkbox checkedBinding="isSelected"}}</td>
                    <td class="phoneNumber" style="text-align:left; padding:0 0 0 5px;">{{phoneNumber}}</td>
                    <td class="deviceId" >{{deviceIdentifier}}</td>
                    <td class="deviceGroup">{{deviceGroup}}</td>
                    <td class="lastUpdate" >{{lastUpdate}}</td>
                    <td class="lastBeacon">{{lastLocationBeaconTime}}</td>
                    <td class="lastLat">{{lastKnownLat}}</td>
                    <td class="lastLon">{{lastKnownLong}}</td>
                    <!-- TODO have lat long in one field, with only 2 figs behind the point. Handlebar helper?-->
                    <td class="action"><a>action</a></td>
                </tr>
                {{/each}}
            </tbody>
            <!-- TABLE FOOTER-->
            <tfoot>
                <tr>
                    <td colspan="7"><small>This is the footer.</small></td>
                </tr>
            </tfoot>
        </table>
   <!--     {{#if view.showConfirmDeletedialog}}
            <a {{action "doDelete" target="this"}}>Ok</a>
            <a {{action "cancelDelete" target="this"}}>Cancel</a>
        {{/if}}     -->

        {{/view}}
    </section>
       

</section>