{{#view view.NavItemView item="select" }}
	{{view Ember.Checkbox checkedBinding="FLOW.deviceControl.allAreSelected"}}
{{/view}}
{{#view view.NavItemView item="EMEI" }}
	<a {{action "sort" target="this"}}>EMEI</a>
{{/view}}
{{#view view.NavItemView item="macAddress" }}
	<a {{action "sort" target="this"}}>MAC Address</a>
{{/view}}
{{#view view.NavItemView item="phoneNumber" }}
	<a {{action "sort" target="this"}}>Phone number</a>
{{/view}}
{{#view view.NavItemView item="deviceIdentifier" }}
   <a {{action "sort" target="this"}}>Device ID</a>
{{/view}}
{{#view view.NavItemView item="deviceGroup" }}
   <a {{action "sort" target="this"}}>Device group</a>
{{/view}}
{{#view view.NavItemView item="lastPositionDate" }}
   <a {{action "sort" target="this"}}>Last Contact</a>
{{/view}}
 <th> <a>Action</a></th>