{{#view view.NavItemView item="phoneNumber" }}
	<a {{action "sort" target="this"}}>Phonenumber</a>
{{/view}}
{{#view view.NavItemView item="deviceIdentifier" }}
   <a {{action "sort" target="this"}}>Device ID</a>
{{/view}}
{{#view view.NavItemView item="deviceGroup" }}
   <a {{action "sort" target="this"}}>Device group</a>
{{/view}}
{{#view view.NavItemView item="lastUpdate" }}
   <a {{action "sort" target="this"}}>Last update</a>
{{/view}}
{{#view view.NavItemView item="lastLocationBeaconTime" }}
   <a {{action "sort" target="this"}}>Last beacon received</a>
{{/view}}
{{#view view.NavItemView item="lastKnownLat" }}
   <a {{action "sort" target="this"}}>Latest latitude</a>
{{/view}}
{{#view view.NavItemView item="lastKnownLong" }}
  <a {{action "sort" target="this"}}>Latest longitude</a>
{{/view}}
 <th> <a>Action</a></th>