<ul>
    {{#view view.NavItemView item="currentDevices" }}
    	<a {{action doCurrentDevices}}>{{t _devices_list}}</a>
    {{/view}} 
    {{#view view.NavItemView item="assignSurveys" }}
    	<a {{action doAssignSurveysOverview}}>{{t _assignments_list}}</a>
    {{/view}} 
    {{#view view.NavItemView item="surveyBootstrap" }}
      <a {{action doSurveyBootstrap}}>{{t _manual_survey_transfer}}</a>
    {{/view}} 
</ul>
