<section class="fullWidth reportTools" id="reportBlocks">
  {{#view FLOW.BulkUploadAppletView}}
       
  <div class="bulkUpload block">    
    <p>{{t _upload_applet_text_}}</p>

    {{#if FLOW.uploader.support}}
      <div class="resumable-drop" ondragenter="jQuery(this).addClass('resumable-dragover');" ondragend="jQuery(this).removeClass('resumable-dragover');" ondrop="jQuery(this).removeClass('resumable-dragover');">
        {{t _drop_files}} <a class="resumable-browse"><u>{{t _select_files}}</u></a>
      </div>
      <div>{{t _do_not_navigate_away}}</div>
      <div class="resumable-progress">
      	<h5>{{t _progress}}</h5>
		<div class="progress-container"><div class="progress-bar"></div></div>
      </div>      
      <ul class="resumable-list"></ul>
    {{else}}
      <div class="resumable-error">
        {{t _bulk_upload_unsupported_browser}}
      </div>
    {{/if}}
  </div>
{{/view}}
</section>