{{#view FLOW.CascadeResourceView}}
<section class="fullWidth">

<section class="topBar">
    <nav class="">
        <ul class="">
            <li>
             <label class="selectinLabel dependencySelect"> {{t _choose_existing_cascade}}
        	{{view Ember.Select
        	contentBinding="FLOW.cascadeResourceControl.content"
        	selectionBinding="FLOW.selectedControl.selectedCascadeResource"
        	optionLabelPath="content.name"
        	optionValuePath="content.keyId"
        	prompt="Select cascade"
        	promptBinding="Ember.STRINGS._select_cascade"}}</label>
            </li>
        </ul>
    </nav>
    <nav class="menuTopbar doubleMenu">
        <ul>
            <li>
               {{#if view.showNewCascadeField}}
        			{{view Ember.TextField valueBinding="view.cascadeResourceName" size=100}}
          			<a {{action "saveNewCascadeResource" target="this"}} class="smallBtn">{{t _save}}</a>
          			<a {{action "cancelNewCascadeResource" target="this"}}>{{t _cancel}}</a>
      			{{else}}
      				<a {{action "newCascade" target="this"}} class="addBtn btn noChanges">{{t _add_new_cascade}}</a>
      			{{/if}}
            </li>
            <li>
                <a class="importBtn btn" {{action "showImportCascade" target="this"}}>{{t _import_cascade_data}}</a>
            </li>
        </ul>
    </nav>
</section>
{{#if view.showImportCascade}}
    <section>
    	<div class="rawDataReport block hidden">
      		<h3>{{t _import_cascade_file}}</h3>
      		<p>{{t _import_cascade_file}}</p>
      		 {{#if FLOW.uploader.support}}
        		<p><input id="cascade-resource-file" type="file"/></p>
     		  	<a {{action importFile target="this"}} class="standardBtn"> {{t _import_cascade_file}}</a>
  		      	<a {{action "hideImportCascade" target="this"}} class="smallBtn">{{t _cancel}}</a>
 		       	<div class="resumable-progress">
          			<h5>{{t _progress}}</h5>
          			<div class="progress-container">
          				<div class="progress-bar">
          				</div>
          			</div>
        		</div>
        		<ul class="resumable-list"></ul>
      		{{else}}
       			<div class="resumable-error">
        		{{t _bulk_upload_unsupported_browser}}
       			</div>
      		{{/if}}
     	</div>
	</section>
{{/if}}

<div class="floats-in ">
  <section id="main" class="cascadeSection floats-in middleSection" role="main">
        	{{#if view.oneSelected}}
            <section id="" class="cascadeDetailsPanel">
                <span class="fontInfo">Project:</span><h2>{{FLOW.selectedControl.selectedCascadeResource.name}}</h2>
                <ul class="cascadeAction">
                <li><a {{action "publishResource" target="this"}} class="saveNewSurvey">Publish</a></li>
                    <li><a {{action "deleteResource" target="this"}} class="deleteSurvey">Delete</a></li>
                </ul>
                <ul class="cascadeInfo">
                    <li>{{t _cascading_levels}}<span class="cascadesN">{{FLOW.selectedControl.selectedCascadeResource.numLevels}}</span>
                    </li>
                    <li>{{t _status}}
                    {{#if FLOW.selectedControl.selectedCascadeResource.status}}
                    	<span class="projectStatus published">{{t _published}}</span>
                    {{else}}
                    	<span class="projectStatus unpublished">{{t _unpublished}}</span>
                    {{/if}}
                    </li>
                </ul>
            </section>
            <section class="cascadeItems">
                <nav class="cascadeBreadCrumb">
                    <ul>
                    	{{#each item in FLOW.cascadeResourceControl.levelNames}}
							{{#view FLOW.CascadeLevelBreadcrumbView contentBinding="item"}}
                    			<a {{action "adaptColView" target="this"}}><span>{{item.level}}</span>{{item.levelName}}</a>
                    		{{/view}}
						{{/each}}
                    </ul>
                    <a {{action "addLevel" target="this"}} class="addLevel"> + Add a level</a>
                </nav>
                <section class="levelColumns floats-in">
                    <div class="levelCol level01">
                    	{{#view FLOW.CascadeLevelNameView col=1 origLevelName=FLOW.cascadeResourceControl.displayLevelName1}}
                       		<span class="levelNbr">Level {{FLOW.cascadeResourceControl.displayLevelNum1}}</span>
                        	<fieldset class="levelHead">
                        		{{#if view.editFieldVisible}}
				 					{{view Ember.TextField valueBinding="view.levelName" size=15}}
	          							<a {{action "saveNewLevelName" target="this"}} class="smallBtn">{{t _save}}</a>
	          							<a {{action "cancelNewLevelName" target="this"}}>{{t _cancel}}</a>
								{{else}}
									<label for="level01Name">{{FLOW.cascadeResourceControl.displayLevelName1}}
									<a {{action "showEditField" target="this"}} class="editSurvey">edit</a></label>
								{{/if}}
                           	 	{{#view FLOW.CascadeNodeView col=1}}
									{{#if view.showInputField}}
										{{view Ember.TextField valueBinding="view.cascadeNodeCode" class="cascadeEntryCode" placeholder="code" size=12}}
										{{view Ember.TextField valueBinding="view.cascadeNodeName" class="cascadeEntryName" placeholder="new item name (mandatory)" size=53}}
										<a {{action "addNewNode" target="this"}}><button class="addCascadeItem">Add</button></a>
									{{/if}}
								{{/view}}
                        	</fieldset>
                        {{/view}}
                        <ul>
                        	{{#each item in FLOW.cascadeNodeControl.displayLevel1}}
								{{#view FLOW.CascadeNodeItemView contentBinding="item" col=1}}
									<a {{action "makeSelected" target="this"}}>{{unbound item.name}}</a>
									<a {{action "deleteNode" target="this"}} class="deleteLevel">delete</a>
								{{/view}}
							{{/each}}
                        </ul>
                    </div>
                    <div class="levelCol level02">
                    	{{#view FLOW.CascadeLevelNameView col=2 origLevelName=FLOW.cascadeResourceControl.displayLevelName2}}
           		            <span class="levelNbr">Level {{FLOW.cascadeResourceControl.displayLevelNum2}}</span>
                	        <fieldset class="levelHead">
                    	        {{#if view.editFieldVisible}}
				 					{{view Ember.TextField valueBinding="view.levelName" size=15}}
	          							<a {{action "saveNewLevelName" target="this"}} class="smallBtn">{{t _save}}</a>
	          							<a {{action "cancelNewLevelName" target="this"}}>{{t _cancel}}</a>
								{{else}}
									<label for="level02Name">{{FLOW.cascadeResourceControl.displayLevelName2}}
									<a {{action "showEditField" target="this"}} class="editSurvey">edit</a></label>
								{{/if}}
                           		{{#view FLOW.CascadeNodeView col=2}}
									{{#if view.showInputField}}
										{{view Ember.TextField valueBinding="view.cascadeNodeCode" placeholder="code" size=12}}
										{{view Ember.TextField valueBinding="view.cascadeNodeName" placeholder="new item name (mandatory)" size=53}}
										<a {{action "addNewNode" target="this"}}><button class="addCascadeItem">Add</button></a>
									{{/if}}
								{{/view}}
                        </fieldset>
                       {{/view}}
                        <ul>
                        	{{#each item in FLOW.cascadeNodeControl.displayLevel2}}
								{{#view FLOW.CascadeNodeItemView contentBinding="item" col=2}}
									<a {{action "makeSelected" target="this"}}>{{unbound item.name}}</a>
									<a {{action "deleteNode" target="this"}} class="deleteLevel">delete</a>
								{{/view}}
							{{/each}}
                        </ul>
                    </div>
                    <div class="levelCol level03">
                    {{#view FLOW.CascadeLevelNameView col=3 origLevelName=FLOW.cascadeResourceControl.displayLevelName3}}
                        <span class="levelNbr">Level {{FLOW.cascadeResourceControl.displayLevelNum3}}</span>
                        <fieldset class="levelHead">
                             {{#if view.editFieldVisible}}
				 				{{view Ember.TextField valueBinding="view.levelName" size=15}}
	          						<a {{action "saveNewLevelName" target="this"}} class="smallBtn">{{t _save}}</a>
	          						<a {{action "cancelNewLevelName" target="this"}}>{{t _cancel}}</a>
							{{else}}
								<label for="level02Name">{{FLOW.cascadeResourceControl.displayLevelName3}}
								<a {{action "showEditField" target="this"}} class="editSurvey">edit</a></label>
							{{/if}}
							{{#view FLOW.CascadeNodeView col=3}}
								{{#if view.showInputField}}
									{{view Ember.TextField valueBinding="view.cascadeNodeCode" placeholder="code" size=12}}
									{{view Ember.TextField valueBinding="view.cascadeNodeName" placeholder="new item name (mandatory)" size=53}}
									<a {{action "addNewNode" target="this"}}><button class="addCascadeItem">Add</button></a>
								{{/if}}
							{{/view}}
                        </fieldset>
                        {{/view}}
                        <ul>
                        	{{#each item in FLOW.cascadeNodeControl.displayLevel3}}
								{{#view FLOW.CascadeNodeItemView contentBinding="item" col=3}}
									<a {{action "makeSelected" target="this"}}>{{unbound item.name}}</a>
									<a {{action "deleteNode" target="this"}} class="deleteLevel">delete</a>
								{{/view}}
							{{/each}}
                        </ul>
                    </div>
                </section>
            </section>
            <section class="levelSecondNav">
	            <nav>
	              <ul>
	               {{#view FLOW.CascadeSecondNavView dir="down"}}
	               		<a {{action "goDownLevel" target="this"}} class="levelDown btn">{{t _move_one_level_down}}</a>
	              {{/view}}
	               {{#view FLOW.CascadeSecondNavView dir="up"}}
	                	<a {{action "goUpLevel" target="this"}} class="levelUp btn">{{t _move_one_level_up}}</a>
	              {{/view}}
	              </ul>
	            </nav>
          </section>
            {{else}}
            <section class="noCascadeContainer">
                    <ul>
                        <li class="formList">
                        <p class="noCascade">Please select an existing cascade resource or create a new one</p></li>
                        <li>
                        <a {{action "newCascade" target="this"}} class="addBtn btn noChanges addMenuAction addNewForm">Add new cascade</a></li>
                    </ul>
                </section>
          {{/if}}

        </section>
    </div>
</section>
{{/view}}