<section class="fullWidth reportTools" id="reportBlocks">
{{#view FLOW.CascadeResourceView}}
	<br/>
    <label class="selectinLabel dependencySelect"> {{t _choose_existing_cascade}}:
        {{view Ember.Select
        contentBinding="FLOW.cascadeResourceControl.content"
        selectionBinding="FLOW.selectedControl.selectedCascadeResource"
        optionLabelPath="content.name"
        optionValuePath="content.keyId"
        prompt="Select cascade"
        promptBinding="Ember.STRINGS._select_cascade"}}</label>
<br/>
   <a {{action "newCascade" target="this"}} class="addGroup">{{t _add_new_cascade}}</a>
 	{{#if view.showNewCascadeField}}
        {{view Ember.TextField valueBinding="view.cascadeResourceName" size=30}}
        <nav class="menuCentre">
          <a {{action "saveNewCascadeResource" target="this"}} class="smallBtn">{{t _save}}</a>
          <a {{action "cancelNewCascadeResource" target="this"}}>{{t _cancel}}</a>
        </nav>
      {{/if}}   	 
</br>
</br>

{{#if view.oneSelected}}
<h3>{{FLOW.selectedControl.selectedCascadeResource.name}}</h3>
<style type="text/css">
.tftable {font-size:12px;color:#333333;width:70%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.tftable tr {background-color:#d4e3e5;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
li.selected {background-color: #fff;}
</style>

{{#each item in FLOW.cascadeResourceControl.levelNames}}
		{{#view FLOW.CascadeLevelNameView contentBinding="item"}}
			{{#if view.editFieldVisible}}
				 {{view Ember.TextField valueBinding="view.levelName" size=15}}
				 <nav class="menuCentre">
	          <a {{action "saveNewLevelName" target="this"}} class="smallBtn">{{t _save}}</a>
	          <a {{action "cancelNewLevelName" target="this"}}>{{t _cancel}}</a>
	        </nav>
			{{else}}
			{{item.levelName}} <a class="editGroupName" {{action "showEditField" target="this"}}></a>
			{{/if}}
		{{/view}}
{{/each}}

<table class="tftable" border="1">
	<tr>
	{{#each item in FLOW.cascadeResourceControl.levelNames}}
		{{#view FLOW.CascadeLevelNameView contentBinding="item"}}
			{{#if view.editFieldVisible}}
				 {{view Ember.TextField valueBinding="view.levelName" size=15}}
				 <nav class="menuCentre">
	          <a {{action "saveNewLevelName" target="this"}} class="smallBtn">{{t _save}}</a>
	          <a {{action "cancelNewLevelName" target="this"}}>{{t _cancel}}</a>
	        </nav>
			{{else}}
			{{item.levelName}} <a class="editGroupName" {{action "showEditField" target="this"}}></a>
			{{/if}}
		{{/view}}
	{{/each}}
	</tr>
	<tr>
		<td>
			{{#view FLOW.CascadeNodeView col=1}}
				{{#if view.showInputField}}
					{{view Ember.TextField valueBinding="view.cascadeNodeCode" size=5}}
					{{view Ember.TextField valueBinding="view.cascadeNodeName" size=30}}
					<a {{action "addNewNode" target="this"}}>+</a>
				{{/if}}
			{{/view}}
		</td>
		<td>
			{{#view FLOW.CascadeNodeView col=2}}
				{{#if view.showInputField}}
					{{view Ember.TextField valueBinding="view.cascadeNodeCode" size=5}}
					{{view Ember.TextField valueBinding="view.cascadeNodeName" size=30}}
					<a {{action "addNewNode" target="this"}}>+</a>
				{{/if}}
			{{/view}}
		</td>
		<td>
			{{#view FLOW.CascadeNodeView col=3}}
				{{#if view.showInputField}}
					{{view Ember.TextField valueBinding="view.cascadeNodeCode" size=5}}
					{{view Ember.TextField valueBinding="view.cascadeNodeName" size=30}}
					<a {{action "addNewNode" target="this"}}>+</a>
				{{/if}}
			{{/view}}
		</td>
	</tr>
	<tr>
		<td style="height:300px; width:20%;">
			<ul>
				{{#each item in FLOW.cascadeNodeControl.displayLevel1}}
					{{#view FLOW.CascadeNodeItemView contentBinding="item" col=1}}
						<a {{action "makeSelected" target="this"}}>{{unbound item.name}}</a> &nbsp;&nbsp;&nbsp;&nbsp; <a {{action "deleteNode" target="this"}}>X</a>
					{{/view}}
				{{/each}}
			</ul>
		</td>
		<td style="width:20%;">
			<ul>
				{{#each item in FLOW.cascadeNodeControl.displayLevel2}}
					{{#view FLOW.CascadeNodeItemView contentBinding="item" col=2}}
						<a {{action "makeSelected" target="this"}}>{{unbound item.name}}</a>&nbsp;&nbsp;&nbsp;&nbsp; <a {{action "deleteNode" target="this"}}>X</a>
					{{/view}}
				{{/each}}
			</ul>
		</td>
		<td style="width:20%;">
			<ul>
				{{#each item in FLOW.cascadeNodeControl.displayLevel3}}
					{{#view FLOW.CascadeNodeItemView contentBinding="item" col=3}}
						<a {{action "makeSelected" target="this"}}>{{unbound item.name}}</a>&nbsp;&nbsp;&nbsp;&nbsp; <a {{action "deleteNode" target="this"}}>X</a>
					{{/view}}
				{{/each}}
			</ul>
		</td>
	</tr>
</table>
</br>
</br>

<a {{action "moveLeft" target="this"}}>move left</a> &nbsp;|&nbsp; <a {{action "moveRight" target="this"}}>move right</a>
<br/>
<br/>

<a {{action "publishResource" target="this"}}>Publish</a>
{{else}}
	Select an existing cascade or create a new one
{{/if}}
{{/view}}
</section>