<section class="fullWidth" id="dataApproval">
    <header></header>
    <form>
        <fieldset>
            <label>{{t _name}}: &nbsp;{{view Ember.TextField valueBinding="currentApprovalGroup.name" size=30}}</label>
            <label>{{t _approval_type}}: {{view Ember.Select contentBinding="view.approvalTypeOptions"
                                                                optionLabelPath="content.label"
                                                                optionValuePath="content.value"
                                                                valueBinding="currentApprovalGroup.ordered"}}
            {{t _steps}}:
            <ul id="approvalSteps">
            {{#each step in controller}}
                <li>{{view Ember.TextField valueBinding="step.code" size=15}} &nbsp; {{view Ember.TextField valueBinding="step.title" size=80}}</li>
            {{/each}}
            </ul>
            <a {{action "cancelEditDataApproval"}}>{{t _cancel}}</a> &nbsp;&nbsp; <a {{action "doSaveDataApproval"}} class="smallBtn">{{t _save}}</a>
        </fieldset>
    </form>
</section>