<section class="fullWidth" id="reportBlocks">
{{#view FLOW.DataCleaningAppletView}}
  <h1>Data cleaning</h1>

  <div class="rawDataReport block">
    <h3>Export survey data</h3>
    <p>{{t _raw_data_report_applet_text}}</p>
    <a {{action showRawDataReportApplet target="this"}} class="standardBtn"> {{t _export_raw_data}} </a>
  </div>
  {{#if view.showRawDataReportAppletBool }}
    {{view FLOW.rawDataReportApplet }}
  {{/if}}


  <div class="rawDataReport block">
    <h3>Import cleaned survey data</h3>
    <p>{{t _import_raw_data_applet_text}}</p>
    <a {{action showRawDataImportApplet target="this"}} class="standardBtn"> {{t _import_clean_data}} </a>
  </div>
  {{#if view.showRawDataImportAppletBool }}
     {{view FLOW.rawDataImportApplet }}
  {{/if}}
{{/view}}
</section>