<ul>
    {{#view view.NavItemView item="inspectData" }}
    <a {{action doInspectData}}>{{t _inspect_data}}</a>
    {{/view}}
    {{#if FLOW.Env.showMonitoringFeature}}
      {{#view view.NavItemView item="monitoringData" }}
        <a {{action doMonitoringData}}>{{t _monitoring}}</a>
      {{/view}}
    {{/if}}
    {{#view view.NavItemView item="chartReports" }}
      <a {{action doChartReports}}>{{t _charts}}</a>
    {{/view}}
    {{#view view.NavItemView item="exportReports" }}
    	<a {{action doExportReports}}>{{t _export_reports}}</a>
    {{/view}}
    {{#view view.NavItemView item="bulkUpload" }}
    <a {{action doBulkUpload}}>{{t _bulk_upload_data}}</a>
    {{/view}} 
    {{#view view.NavItemView item="dataCleaning" }}
        {{#if view.showDataCleaningButton}}
        <a {{action doDataCleaning}}>{{t _data_cleaning}}</a>
        {{/if}}
    {{/view}}
    {{#view view.NavItemView item="cascadeResources" }}
        {{#if view.showCascadeResourcesButton}}
        <a {{action doCascadeResources}}>{{t _cascade_resources}}</a>
        {{/if}}
    {{/view}}
    {{#view view.NavItemView item="approvalGroup" }}
        {{#if view.showDataApprovalButton}}
        <a {{action doDataApproval}}>{{t _data_approval}}</a>
        {{/if}}
    {{/view}}
</ul> 
  