<section class="fullWidth reportTools" id="reportBlocks">
  {{#view FLOW.ExportReportsAppletView}}

    {{#unless FLOW.projectControl.isLoading}}
      {{view FLOW.DataCleaningSurveySelectionView}}
    {{/unless}}

    {{#if FLOW.selectedControl.selectedSurveyGroup}}
      {{view Ember.Select
          contentBinding="FLOW.surveyControl.arrangedContent"
          selectionBinding="FLOW.selectedControl.selectedSurvey"
          optionLabelPath="content.code"
          optionValuePath="content.keyId"
          prompt=""
          promptBinding="Ember.STRINGS._select_form"}}
    {{/if}}

    <div class="rawDataReport block">
      <h3>{{t _export_raw_data_report}}</h3>
      <p>{{t _raw_data_report_applet_text_}}</p>
      <div class="dataCollectedDate">
          <label class="collectedFrom">
            <span>{{t _collected_from}}:</span> {{view FLOW.DateField minDate=false valueBinding="FLOW.dateControl.fromDate" elementId="from_date" placeholder="" placeholderBinding="Ember.STRINGS._collected_from" size=30}}
          </label>
          <label class="collectedTo">
            <span>{{t _to}}:</span> {{view FLOW.DateField minDate=false valueBinding="FLOW.dateControl.toDate" elementId="to_date" placeholder="" placeholderBinding="Ember.STRINGS._to" size=30}}
          </label>
      </div>
      <a {{action showRawDataReport target="this"}} class="standardBtn"> {{t _raw_data_report}} </a>
    </div>

    <div class="rawDataReport block">
      <h3>{{t _import_cleaned_survey_data}}</h3>
      <p>{{t _import_raw_data_applet_text_}}</p>
      {{#if FLOW.uploader.support}}
        <p><input id="raw-data-import-file" type="file"/></p>
        <a {{action importFile target="this"}} class="standardBtn"> {{t _import_clean_data}}</a>
        <div class="resumable-progress">
          <h5>{{t _progress}}</h5>
          <div class="progress-container"><div class="progress-bar"></div></div>
        </div>
        <ul class="resumable-list"></ul>
      {{else}}
       <div class="resumable-error">
        {{t _bulk_upload_unsupported_browser}}
       </div>
      {{/if}}
    </div>
  {{/view}}
</section>
