<section class="fullWidth" id="dataApproval">
    <header></header>
    <form>
        <fieldset>
            <label>{{t _name}}: &nbsp;{{view Ember.TextField valueBinding="name" size=30}}</label>
            <label>{{t _approval_type}}: {{view Ember.Select contentBinding="view.approvalTypeOptions"
                                                                optionLabelPath="content.label"
                                                                optionValuePath="content.optionValue"
                                                                valueBinding="isOrderedApprovalGroup"}}
            {{t _steps}}: {{outlet approvalStepsOutlet}}
            <a {{action "doCancelEditApprovalGroup"}}>{{t _cancel}}</a> &nbsp;&nbsp; <a {{action "doSaveApprovalGroup"}} class="smallBtn">{{t _save}}</a>
        </fieldset>
    </form>
</section>