<ul id="approvalSteps">
{{#each step in controller}}
    <li>{{view Ember.TextField valueBinding="step.title" size=80}}</li> <a {{action deleteApprovalStep step target="controller"}}>{{t _delete}}</delete>
{{/each}}
<a {{action addApprovalStep target="controller"}}>{{t _add_step}}</a>
</ul>
