<section class="fullWidth" id="dataApproval">
    <header></header>
    <table class="dataTable" id="dataApprovalTable">
        <thead>
            <tr>
                <th class="noArrows">{{t _name}}</th>
                <th class="noArrows">{{t _type}}</th>
                <th class="noArrows"></th>
            </tr>
        </thead>
        <tbody>
            {{#each item in controller}}
            <tr>
                <td class="name">{{item.name}}</td>
                <td class="approval-type">{{#if item.ordered}}{{t _ordered}}{{else}}{{t _unordered}}{{/if}}</td>
                <td class="action">
                    <ul>
                        <li class="editIconSmall"><a {{action doEditApprovalGroup item}}>{{t _edit}}</a></li>
                        <li class="deleteIconSmall"><a>{{t _delete}}</a></li>
                    </ul>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7"><small></small>
                </td>
            </tr>
        </tfoot>
    </table>
</section>