{{#view FLOW.inspectDataTableView}}
<section class="fullWidth" id="inspectData">
    <div class="" id="dataFilter">
        <h3>Choose Survey Data to display:</h3>
        <form>
            {{view Ember.Select 
                contentBinding="FLOW.surveyGroupControl.content" 
                selectionBinding="FLOW.selectedControl.selectedSurveyGroup" 
                optionLabelPath="content.code" 
                optionValuePath="content.keyId" 
                prompt="Select survey group"}} 

            {{view Ember.Select 
                contentBinding="FLOW.surveyControl.content" 
                selectionBinding="FLOW.selectedControl.selectedSurvey" 
                optionLabelPath="content.code" 
                optionValuePath="content.keyId" 
                prompt="Select survey"}} 
				
            <label for="fromDate">Collected From</label>
            <input class="datePicker" id="from" name="from" type="text">
            <label for="toDate">To</label>
            <input class="datePicker" id="to" name="to" type="text">

            </form>            
            <label> Device id:
                {{view Ember.TextField valueBinding="view.deviceId" placeholder="" size=30}} 
            </label>

    </div>
    <section class="fullWidth " id="devicesList">
        <br/><br/>
         <a {{action "doFindSurveyInstances" target="this"}}>Find</a>
        <br/><br/>
        <!-- DEVICES TABLE-->
        <table class="dataTable" id="surveyDataTable">
            <!-- TABLE HEADER-->
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Survey</th>
                    <th>Submitter</th>
                    <th>Device</th>
                    <th>Collected</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!-- TABLE BODY: MAIN CONTENT-->
            <tbody>
                {{#each FLOW.surveyInstanceControl.content}}
                <tr>
                    <td class="device">{{keyId}}</td>
                    <td class="survey" style="text-align:left;">{{surveyCode}}</td>
                    <td class="submitter" style="text-align:left;">{{submitterName}}</td>
                    <td class="device">{{deviceIdentifier}}</td>
                    <td class="collected">{{date1 collectionDate}}</td>
                    <td class="action"><a href="#">action</a></td>
                </tr>
                {{/each}}
            </tbody>
            <!-- TABLE FOOTER-->
            <tfoot>
                <tr>
                    <td colspan="7"><small>This is the footer.</small></td>
                </tr>
            </tfoot>
        </table>
        {{#if view.hasPrevPage}}<a {{action doPrevPage target='this'}}> &laquo; previous | </a> {{/if}}
        {{#if view.hasNextPage}}<a {{action doNextPage target='this'}}>next &raquo;</a>{{/if}}
    </section>
</section>
{{/view}}