{{#view FLOW.inspectDataTableView}}
<section class="" id="inspectData">
    <div class="floats-in filterData" id="dataFilter">
        <div class="chooseSurveyData">
          {{#unless FLOW.projectControl.isLoading}}
            {{view FLOW.SurveySelectionView}}
          {{/unless}}
          {{#if FLOW.selectedControl.selectedSurveyGroup}}
            {{view Ember.Select contentBinding="FLOW.surveyControl.arrangedContent" selectionBinding="FLOW.selectedControl.selectedSurvey" optionLabelPath="content.code" optionValuePath="content.keyId" prompt="" promptBinding="Ember.STRINGS._select_form"}}
          {{/if}}
        </div>
        <div class="dataDeviceId">
            {{#if view.validSurveyInstanceId}}
              <label class="surveyInstanceId">{{t _instance_id}}:</label>
            {{else}}
              <label class="surveyInstanceId tooltip"><a class="tooltip" title="{{t _instance_id_must_be_a_number}}">{{t _instance_id}}</a>:</label>
            {{/if}}
            {{view Ember.TextField valueBinding="view.surveyInstanceId" placeholder="" placeholderBinding="Ember.STRINGS._instance_id" size=30}}
            <label class="devideId">{{t _device_id}}:</label>
            {{view Ember.TextField valueBinding="view.deviceId" placeholder="" placeholderBinding="Ember.STRINGS._device_id" size=30}}
            <label class="submitterName">{{t _submitter_name}}:</label>
            {{view Ember.TextField valueBinding="view.submitterName" placeholder="" placeholderBinding="Ember.STRINGS._submitter_name" size=30}}
            <label class="collectedFrom"><span>{{t _collected_from}}:</span> {{view FLOW.DateField minDate=false valueBinding="FLOW.dateControl.fromDate" elementId="from_date" placeholder="" placeholderBinding="Ember.STRINGS._collected_from" size=30}}
            </label>

            <label class="collectedTo"><span>{{t _to}}:</span> {{view FLOW.DateField minDate=false valueBinding="FLOW.dateControl.toDate" elementId="to_date" placeholder="" placeholderBinding="Ember.STRINGS._to" size=30}}
            </label>
        </div>

        <div class="chooseLocationData">
            {{#if FLOW.Env.showStatisticsFeature}} {{view Ember.Select contentBinding="FLOW.countryController.content" selectionBinding="FLOW.locationControl.selectedCountry" optionLabelPath="content.label" prompt="select country" promptBinding="Ember.STRINGS._select_country"}} {{view Ember.Select contentBinding="FLOW.locationControl.level1Content" selectionBinding="FLOW.locationControl.selectedLevel1" optionLabelPath="content.name" prompt="select sublevel 1" promptBinding="Ember.STRINGS._select_sublevel_1"}} {{view Ember.Select contentBinding="FLOW.locationControl.level2Content" selectionBinding="FLOW.locationControl.selectedLevel2" optionLabelPath="content.name" prompt="select sublevel 2" promptBinding="Ember.STRINGS._select_sublevel_2"}} {{/if}}
            <a {{action "doFindSurveyInstances" target="this" }} class="findData standardBtn btnAboveTable"> {{t _find}}</a>
        </div>
    </div>
    {{#if view.noResults}}
      <div class="noResults">{{t _no_results_found}}</div>
    {{/if}}

    <section class="fullWidth " id="devicesList">
        <table class="dataTable" id="surveyDataTable">
            <thead>
                <tr>
                    <th class="noArrows"></th>
                    <th class="noArrows">{{t _instance_id}}</th>
                    <th class="noArrows">{{t _submitter}}</th>
                    <th class="noArrows">{{t _device}}</th>
                    <th class="noArrows">{{t _collected}}</th>
                    <th class="noArrows">{{t _action}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each SI in FLOW.surveyInstanceControl.currentContents}}
                <tr>
                    <td class="device">{{#view FLOW.DataNumView contentBinding="this" pageNumberBinding="FLOW.surveyInstanceControl.pageNumber"}}{{view.rownum}}{{/view}}</td>
                    <td class="device">{{SI.keyId}}</td>
                    <td class="submitter">{{SI.submitterName}}</td>
                    <td class="device">{{SI.deviceIdentifier}}</td>
                    <td class="collected">{{#with SI}}{{date1 collectionDate}}{{/with}}</td>
                    <td class="action">
                        <a {{action showEditSurveyInstanceWindow SI target="this" }}>
                            {{#if view.showEditResponseLink}}
                                {{t _edit}}
                            {{else}}
                                {{t _view}}
                            {{/if}}
                        </a>
                        {{#if view.showSurveyInstanceDeleteButton }}
                            {{#view FLOW.DataItemView contentBinding="SI"}}
                                <a {{action confirm FLOW.dialogControl.delSI2 target="FLOW.dialogControl" }}>
                                    {{t _delete}}
                                </a>
                            {{/view}}
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <ul class="prevNext">
            <li class="prevBtn">{{#if view.hasPrevPage}}
                <a {{action doPrevPage target='this' }}> &lsaquo; {{t _previous}}</a> {{/if}}
            </li>
            <li class="nextBtn">{{#if view.hasNextPage}}
                <a {{action doNextPage target='this' }}>{{t _next}} &rsaquo;</a>{{/if}}
            </li>
        </ul>
    </section>

    <!-- edit surveyInstance popup-->
    <div {{bindAttr class="view.showEditSurveyInstanceWindowBool:display :overlay" }}>
        <div class="blanketWide"></div>
        <div class="dialogWrap">
            <!-- the dialog contents -->
            <div class="confirmDialog dialogWide">
                <a {{action "doCloseEditSIWindow" target="this" }} class="ok clodeDialog">{{t _close_window}}</a>
                {{#if view.showEditResponseLink}}
                <h2>{{t _edit_answers}}</h2>
                {{else}}
                <h2>{{t _view_answers}}</h2>
                {{/if}}
                <nav class="editAnswerMenu">
                    <ul>
                        <li class="prevBtn"><a {{action "doPreviousSI" target="this" }}>&lsaquo; {{t _previous_record}}</a>
                        </li>
                        {{#if view.showSurveyInstanceDeleteButton }}
                        <li class="deleteBtn"><a {{action confirm FLOW.dialogControl.delSI target="FLOW.dialogControl" }} class="smallBtn">{{t _delete}}</a>
                        </li>
                        {{/if}}
                        <!--  <li class="saveBtn"><a {{action "doSaveSI" target="this"}} class="smallBtn">{{t _save}}</a></li> -->
                        <li class="nextBtn"><a {{action "doNextSI" target="this" }}>{{t _next_record}} &rsaquo;</a>
                        </li>
                    </ul>
                </nav>
                <p>{{view.siString}}</p>

                <table class="dataTable" id="surveyDataTable">
                    <!-- TABLE HEADER-->
                    <thead>
                        <tr>
                            <th class="noArrows" style="width:10%"></th>
                            <th class="noArrows" style="width:40%">{{t _question}}</th>
                            <th class="noArrows" style="width:50%">{{t _answer}}</th>
                        </tr>
                    </thead>
                    <!-- TABLE BODY: MAIN CONTENT-->
                    <tbody>
                  {{#each responseSubList in FLOW.questionAnswerControl.contentByGroup}}
                    {{#each iterations in responseSubList}}
                      <tr><td colspan="3" style="text-align:left"><h3 class="questionGroupName">{{iterations.groupName}}</h3></td></tr>
                            {{each iterations itemViewClass="FLOW.QuestionAnswerInspectDataView"}}
                    {{/each}}
                  {{/each}}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>
{{/view}}
