<section class="fullWidth" id="manageAttributes">
{{#view FLOW.ManageAttributesTableView}}
 <a {{action "showAddAttributeDialog" target="this"}} class="standardBtn btnAboveTable">{{t _add_new_attribute}}</a>
        <table class="dataTable" id="attributeDataTable">
            <!-- TABLE HEADER-->
            <thead>
                <tr>
                {{#view FLOW.ColumnView item="keyId" type="attribute"}}
                   <a {{action "sort" target="this"}}>{{t _id}}</a>
                {{/view}}
                {{#view FLOW.ColumnView item="name" type="attribute"}}
                   <a {{action "sort" target="this"}}>{{t _attribute_name}}</a>
                {{/view}}
                {{#view FLOW.ColumnView item="group" type="attribute"}}
                   <a {{action "sort" target="this"}}>{{t _tag}}</a>
                {{/view}}
                {{#view FLOW.ColumnView item="valueType" type="attribute"}}
                   <a {{action "sort" target="this"}}>{{t _value_type}}</a>
                {{/view}}
                 <th class="action noArrows">{{t _action}}</th>
                </tr>
            </thead>
            <!-- TABLE BODY: MAIN CONTENT-->
            <tbody>
                {{#each attribute in FLOW.attributeControl}}
                   <tr>
                    <td class="name" >{{attribute.keyId}}</td>
                    <td class="name" >{{attribute.name}}</td>
                    <td class="group" >{{attribute.group}}</td>
                    <td class="valueType" >{{#with attribute}}{{toAttributeType valueType}}{{/with}}</td>

                    <td class="action">
                      {{#view FLOW.AttributeView contentBinding="attribute"}}
                        <a {{action confirm FLOW.dialogControl.delAttr target="FLOW.dialogControl"}} class="remove">{{t _remove}}</a> {{/view}} <a {{action "showEditAttributeDialog" attribute target = "this"}} class="edit">{{t _edit}}</a> </td>
                  </tr>
                {{/each}}
            </tbody>
        </table>

 <!-- add attribute dialog-->
    <div {{bindAttr class="view.showAddAttributeDialogBool:display :overlay"}}>
      <div class="blanket"></div>
          <div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialog">
          <h2>{{t _add_new_attribute}}</h2>
          <p class="dialogMsg">{{t _please_provide_a_name_}}</p>
          <br/>
         <label for="newAttributeName">{{t _attribute_name}}:</label> {{view Ember.TextField valueBinding="view.newAttributeName" id="newAttributeName" size=40}}
         <label for="newAttributeGroup">{{t _attribute_group}}:</label> {{view Ember.TextField valueBinding="view.newAttributeGroup" id="newAttributeGroup" size=40}}
          <label>{{t _value_type}}:</label>
             {{view Ember.Select 
            contentBinding="FLOW.attributeTypeControl.content" 
            selectionBinding="view.newAttributeType" 
            optionLabelPath="content.label" 
            optionValuePath="content.value"
            prompt=""
            promptBinding="Ember.STRINGS._select_value_type"}}
        
          <div class="buttons menuCentre"> 
            <ul>  
               <li><a {{action "doAddAttribute" target="this"}} class="ok smallBtn">{{t _save}}</a></li>
              <li><a {{action "cancelAddAttribute" target="this"}}} class="cancel">{{t _cancel}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <!-- edit existing attribute dialog-->
    <div {{bindAttr class="view.showEditAttributeDialogBool:display :overlay"}}>
      <div class="blanket"></div>
          <div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialog">
          <h2>{{t _edit_attribute}}</h2>
          <p class="dialogMsg">{{t _please_edit_the_attribute_name_}}.</p>
          <label for="editAttributeName">{{t _attribute_name}}:</label> {{view Ember.TextField valueBinding="FLOW.editControl.editAttributeName" id="editUserName" size=40}}<br/>
           <label for="editAttributeGroup">{{t _attribute_group}}:</label> {{view Ember.TextField valueBinding="FLOW.editControl.editAttributeGroup" id="editEmail" size=40}}<br/>
           <label>{{t _value_type}}:</label>
            {{view Ember.Select 
            contentBinding="FLOW.attributeTypeControl.content" 
            selectionBinding="FLOW.editControl.editAttributeType" 
            optionLabelPath="content.label" 
            optionValuePath="content.value"
            prompt=""
            promptBinding="Ember.STRINGS._select_attribute_type"}}
 
          <div class="buttons menuCentre"> 
            <ul>  
               <li><a {{action "doEditAttribute" target="this"}} class="ok smallBtn">{{t _save}}</a></li>
              <li><a {{action "cancelEditAttribute" target="this"}}} class="cancel">{{t _cancel}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


        {{/view}}
    </section>