{{#view FLOW.MonitoringDataTableView}}
<section class="" id="monitoringData">
    <div class="floats-in filterData" id="dataFilter">
      <div class="chooseSurveyData">
      {{#unless FLOW.projectControl.isLoading}}
        {{view FLOW.SurveySelectionView showMonitoringSurveysOnly=true}}
      {{/unless}}
    </div>
    <div class="dataDeviceId">
    <label  class="devideId"> {{t _identifier}}:</label>
      {{view Ember.TextField
          valueBinding="view.identifier"
          placeholder=""
          placeholderBinding="Ember.STRINGS._identifier"
          size=30}}
        <label  class="devideId"> {{t _data_point_name}}:</label>
        {{view Ember.TextField
          valueBinding="view.displayName"
          placeholder=""
          placeholderBinding="Ember.STRINGS._data_point_name"
          size=30}}
      </div>
      <a {{action "findSurveyedLocale" target="this"}} class="findData standardBtn btnAboveTable">{{t _find}}</a>
    </div>
    <section class="fullWidth " id="devicesList">
      <table class="dataTable" id="surveyDataTable">
        <thead>
          <tr>
              <th class="noArrows"></th>
              <th class="noArrows">{{t _data_point_name}}</th>
              <th class="noArrows">{{t _identifier}}</th>
              <th class="noArrows">{{t _last_update}}</th>
              {{#if view.showApprovalStatusColumn}}
              <th class="noArrows">{{t _approval_status}}</th>
              {{/if}}
              <th class="noArrows">{{t _action}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each FLOW.router.surveyedLocaleController}}
           {{view FLOW.DataPointView contentBinding="this"}}
          {{/each}}
        </tbody>
      </table>
      <ul class="prevNext">
        <li class="prevBtn">{{#if view.hasPrevPage}}
          <a {{action doPrevPage target='this'}}> &lsaquo; {{t _previous}}</a> {{/if}}
        </li>
        <li class="nextBtn">{{#if view.hasNextPage}}
          <a {{action doNextPage target='this'}}>{{t _next}} &rsaquo;</a>{{/if}}
        </li>
      </ul>
    </section>

    <!-- surveyInstance details Dialog -->
    <div {{bindAttr class="view.showingDetailsDialog:display :overlay"}}>
      <div class="blanketWide"></div>
          <div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialogWide">
         <a {{action "closeDetailsDialog" target="this"}} class="ok clodeDialog">{{t _close_window}}</a>

          <h2>{{t _details}}</h2>
            <nav class="editAnswerMenu">
          </nav>
        <p></p>
      <table class="dataTable" id="surveyDataTable">
        <thead>
          <tr>
              <th class="noArrows"></th>
              <th class="noArrows">{{t _id}}</th>
              <th class="noArrows">{{t _survey}}</th>
              <th class="noArrows">{{t _submitter}}</th>
              <th class="noArrows">{{t _device}}</th>
              <th class="noArrows">{{t _collected}}</th>
              <th class="noArrows">{{t _action}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each SI in FLOW.surveyInstanceControl.currentContents}}
            <tr>
              <td class="device">{{#view FLOW.DataNumView contentBinding="this"}}{{view.rownum}}{{/view}}</td>
              <td class="device">{{SI.keyId}}</td>
              <td class="survey" style="text-align:left;">{{SI.surveyCode}}</td>
              <td class="submitter" style="text-align:left;">{{SI.submitterName}}</td>
              <td class="device">{{SI.deviceIdentifier}}</td>
              <td class="collected">{{#with SI}}{{date1 collectionDate}}{{/with}}</td>
              <td class="action">
                <a {{action showSurveyInstanceDetails SI target="this"}}>
                  {{t _view_details}}
                </a>
                {{#if view.showSurveyedLocaleDeleteButton }} {{#view FLOW.DataItemView contentBinding="SI"}}<a {{action confirm FLOW.dialogControl.delSI2 target="FLOW.dialogControl" }}>
                  {{t _delete}}
                </a>{{/view}} {{/if}}
              </td>
            </tr>
            <tr class="si_details" style="background: #fff; display:none;" data-flow-id="si_details_{{unbound SI.id}}">
              <td colspan="7">
              <table class="dataTable" id="surveyDataTable">
            <!-- TABLE HEADER-->
            <thead>
                <tr>
                    <th class="noArrows">{{t _id}}</th>
                    <th class="noArrows">{{t _question}}</th>
                    <th class="noArrows">{{t _answer}}</th>
                </tr>
            </thead>
            <!-- TABLE BODY: MAIN CONTENT-->
            <tbody>
                {{#each QA in FLOW.questionAnswerControl}}
                  {{#view FLOW.QuestionAnswerView contentBinding="QA"}}
                    <tr>
                      <td class="device">{{QA.keyId}}</td>
                      <td class="survey" style="text-align:left;">{{QA.questionText}}</td>

                    <td class="submitter" style="text-align:left;">
                        {{#if view.isPhotoType}}
                          {{view.photoUrl}}  <a {{bindAttr href="view.photoUrl"}} target="_blank">{{t _open_photo}}</a>
                          {{#if view.photoLocation}}
                              <br>{{view.photoLocation}}
                          {{/if}}
                        {{else}} {{#if view.isVideoType}}
                          {{view.photoUrl}} <a {{bindAttr href="view.photoUrl" }} target="_blank">{{t _open_video}}</a>
                          {{#if view.photoLocation}}
                              <br>{{view.photoLocation}}
                          {{/if}}
                        {{else}} {{#if view.isGeoShapeType}}
                          {{view FLOW.GeoshapeMapView}}
                        {{else}} {{#if view.isCascadeType}}
                          <span>{{view.cascadeValue}}</span>
                        {{else}} {{#if view.isOptionType}}
                          {{view FLOW.QuestionAnswerOptionListView contentBinding="view.optionValue"}}
                        {{else}} {{#if view.isDateType}}
                          {{#with QA}}{{date3 value}}{{/with}}
                        {{else}} {{#if view.isSignatureType}}
                            {{#if view.signatureImageSrc}}
                                <div class="signatureImage"><img {{bindAttr src="view.signatureImageSrc"}} /></div>
                                <div class="signedBySection">{{t _signed_by}}: {{view.signatureSignatory}}</div>
                            {{else}}
                                {{t _no_signature_found}}
                            {{/if}}
                        {{else}} {{#if view.isCaddisflyType}}
                            <div class=""><strong>{{view.testName}}</strong></div>
                            {{#each result in view.testResult}}
                                <br><div>{{result.name}} : {{result.value}} {{result.unit}}</div>
                            {{/each}}<br>
                            <div class="signatureImage"><img {{bindAttr src="view.caddisflyImageURL"}} /></div>
                        {{else}}
                          <span>{{QA.value}} {{#with QA}}{{if_blank value}}{{/with}}</span>
                        {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}}
                    </td>
                    </tr>
                    {{/view}}
                {{/each}}
            </tbody>
            <!-- TABLE FOOTER-->
        </table>
              </td>
            </tr>
            {{/each}}
        </tbody>
      </table>
      <ul class="prevNext">
      </ul>
         </div>
      </div>
    </div>
</section>
{{/view}}
