<tr>
    <td class="device">{{#view FLOW.DataNumView contentBinding="this" pageNumberBinding="view.parentView.parentView.parentView.pageNumber"}}{{view.rownum}}{{/view}}</td>
    <td class="displayName" style="text-align:left;">{{displayName}}</td>
    <td class="identifier" style="text-align:left;">{{identifier}}</td>
    <td class="collected">{{date1 lastUpdateDateTime}}</td>

    {{#if view.parentView.showApprovalStatusColumn}}
    <td class="approvalStatus">
        <a {{action toggleShowDataApprovalBlock target="view"}}>
            {{#view FLOW.DataPointApprovalStatusView}}{{view.dataPointApprovalStatus}}{{/view}}
        </a>
    </td>
    {{/if}}

    <td class="action">
        <a {{action showDetailsDialog this target="view.parentView" }}>{{t _view_details}}</a>
    </td>
</tr>

{{#if view.showDataApprovalBlock}}
<tr class="dataApprovalRow">
    <td></td>
    <td class="dataApprovalBlock"  colspan="5">
        <ol class="dataPointApproval">
        {{#each step in FLOW.router.approvalStepsController}}
            <li>
            <h4>{{step.title}}<h4>
            {{#view FLOW.DataPointApprovalView stepBinding="step"
                                                dataPointBinding="view.content"
                                                target="view"}}
                {{#if view.isApprovedStep}}
                    {{#with view.dataPointApproval}}
                        <div class="approvalStatus">{{status}}</div>
                        <div class="approvalDate">{{date3 approvalDate}} | {{approverUserName}}</div>
                        <div class="approvalComment">{{comment}}</div>
                    {{/with}}
                {{/if}}
                {{#if view.showApprovalFields}}
                    {{view Ember.Select contentBinding="view.parentView.approvalStatus"
                                        optionLabelPath="content.label"
                                        optionValuePath="content.value"
                                        valueBinding="view.dataPointApproval.status"}}
                    {{view Ember.TextField size="80" valueBinding="view.dataPointApproval.comment"}}
                    <a class="btn" {{action submitDataPointApproval target="view"}}>{{t _submit}}</a>
                {{/if}}
            {{/view}}
            </li>
        {{/each}}
        </ol>
    </td>
</tr>
{{/if}}
