<tr>
    <td class="device" style="width:10%">{{view.question.order}}</td>
    <td class="survey" style="text-align:left;width:40%">{{view.question.text}}</td>
    <td class="submitter" style="text-align:left;width:50%">
        {{#if view.inEditMode}}
            {{#if view.isOptionType}}
                    {{view Ember.Select
                        contentBinding="view.optionsList"
                        valueBinding="view.content.value"}}
            {{else}} {{#if view.isNumberType}}
                    {{view Ember.TextField valueBinding="view.numberValue" size=10 }}
            {{else}} {{#if view.isTextType}}
                        {{view Ember.TextField valueBinding="value" size=10 }}
            {{else}} {{#if view.isCascadeType}}
                        {{view Ember.TextField valueBinding="view.cascadeValue" size=20 }}
            {{else}} {{#if view.isDateType}}
                            {{view FLOW.DateField2 valueBinding="view.date" size=20}}
            {{else}} {{#if view.isBarcodeType}}
                                {{t _the_barcode_app_on_the_device_is_used_here}}
                                {{view Ember.TextField valueBinding="value" size=10 }}
            {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}}
        <a {{action doSave target="this" }} class="smallBtn">{{t _save}}</a>  <a {{action doCancel target="this" }}>{{t _cancel}}</a>
        {{else}}
            {{#if view.isNotEditable}}
                {{#if view.isPhotoType}}
                    {{value}} <a {{bindAttr href="view.photoUrl" }} target="_blank">{{t _open_photo}}</a>
                {{else}} {{#if view.isVideoType}}
                    {{value}} <a {{bindAttr href="view.photoUrl" }} target="_blank">{{t _open_video}}</a>
                {{else}} {{#if view.isGeoShapeType}}
                    <div id="geoshapeObject" style="display: none" {{bindAttr data-geoshape="view.geoShapeObject" }}></div>
                    <div id="geoShapeMap" style="width:99%; height: 150px; float: left"></div>
                    <div id="geoshapeMetadata" style="float: left; width: 100%"></div>
                    <script type="text/javascript">
                    var geoshapeObject = $("#geoshapeObject").data("geoshape");
                    var geoshapeCoordinates = [], geoshapeMetadata = "";
                    
                    if(geoshapeObject !== "" && geoshapeObject !== null && geoshapeObject !== "null"){
                      if(geoshapeObject['features'].length > 0){
                        var geoshapeCoordinatesArray = geoshapeObject['features'][0]['geometry']['coordinates'][0];
                        for(var j=0; j<geoshapeCoordinatesArray.length; j++){
                          geoshapeCoordinates.push([geoshapeCoordinatesArray[j][1], geoshapeCoordinatesArray[j][0]]);
                        }
                        FLOW.createGeoshape(geoshapeCoordinates);
                        geoshapeMetadata += '<div style="float: left; width: 100%">Points: '+geoshapeObject['features'][0]['properties']['pointCount']+'</div>';
                        geoshapeMetadata += '<div style="float: left; width: 100%">Length: '+geoshapeObject['features'][0]['properties']['length']+'m</div>';
                        geoshapeMetadata += '<div style="float: left; width: 100%">Area: '+geoshapeObject['features'][0]['properties']['area']+'m&sup2;</div>';
                      }
                    }
                    $("#geoshapeMetadata").html(geoshapeMetadata);
                    </script>
                {{else}}
                    {{value}}
                {{/if}} {{/if}} {{/if}}
            {{else}}
                {{#if view.isDateType}}
                    <a {{action doEdit target="this" }}>{{date3 value}}</a>
                {{else}} {{#if view.isCascadeType}}
                    <a {{action doEdit target="this" }}>{{view.cascadeValue}}</a>
                {{else}}
                    <a {{action doEdit target="this" }}>{{value}}{{if_blank value}}</a>
                {{/if}} {{/if}}
            {{/if}}
        {{/if}}
    </td>
</tr>
