<tr>
    <td class="device" style="width:10%">{{view.question.order}}</td>
    <td class="survey" style="text-align:left;width:40%">{{view.question.text}}</td>
    <td {{bindAttr class=":submitter view.isMultipleSelectOption:multiple-option"}}>
        {{#if view.inEditMode}}
            {{#if view.isOptionType}}
                    {{#if view.isMultipleSelectOption}}
                        {{view FLOW.QuestionAnswerMultiOptionEditView contentBinding="view.optionsList" selectionBinding="view.multiSelectOptionValue"}}
                    {{else}}
                        {{view Ember.Select
                            contentBinding="view.optionsList"
                            optionLabelPath="content.text"
                            optionValuePath="content.code"
                            selectionBinding="view.singleSelectOptionValue"}}
                    {{/if}}
                    {{#if view.isOtherOptionSelected}}
                        <div class="editOtherContainer">
                            <span class="otherLabel">{{t _other}}</span>{{view Ember.TextField class="editOtherText" size=25 valueBinding="view.optionValue.lastObject.otherText"}}
                        </div>
                    {{/if}}
            {{else}} {{#if view.isNumberType}}
                    {{view Ember.TextField valueBinding="view.numberValue" size=10 }}
            {{else}} {{#if view.isTextType}}
                        {{view Ember.TextField valueBinding="value" size=10 }}
            {{else}} {{#if view.isCascadeType}}
                        {{view Ember.TextField valueBinding="view.cascadeValue" size=20 }}
            {{else}} {{#if view.isDateType}}
                            {{view FLOW.DateField2 valueBinding="view.date" size=20}}
            {{else}} {{#if view.isBarcodeType}}
                                {{t _the_barcode_app_on_the_device_is_used_here}}
                                {{view Ember.TextField valueBinding="value" size=10 }}
            {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}}
        <a {{action doSave target="this" }} class="smallBtn">{{t _save}}</a>  <a {{action doCancel target="this" }}>{{t _cancel}}</a>
        {{else}}
            {{#if view.isNotEditable}}
                {{#if view.isPhotoType}}
                    {{value}} <a {{bindAttr href="view.photoUrl" }} target="_blank">{{t _open_photo}}</a>
                {{else}} {{#if view.isVideoType}}
                    {{value}} <a {{bindAttr href="view.photoUrl" }} target="_blank">{{t _open_video}}</a>
                {{else}} {{#if view.isDateType}}
                    {{date3 value}}
                {{else}} {{#if view.isCascadeType}}
                    {{view.cascadeValue}}
                {{else}} {{#if view.isOptionType}}
                    {{view FLOW.QuestionAnswerOptionListView contentBinding="view.optionValue"}}
                {{else}} {{#if view.isGeoShapeType}}
                  {{view FLOW.GeoshapeMapView}}
                {{else}} {{#if view.isSignatureType}}
                    {{#if view.signatureImageSrc}}
                        <div class="signatureImage"><img {{bindAttr src="view.signatureImageSrc"}} /></div>
                        <div class="signedBySection">{{t _signed_by}}: {{view.signatureSignatory}}</div>
                    {{else}}
                        {{t _no_signature_found}}
                    {{/if}}
                {{else}}
                 {{#if view.isExternalSourceType}}
                	<div class=""><strong>{{t _strip_test_type}}: {{view.striptestName}}</strong></div>
                	{{#each result in view.striptestResult}}<br>
                	<div>{{result.name}} : {{result.value}} {{result.unit}}</div>
                	<div class=""><img {{bindAttr src="result.image"}} /></div>
                	{{/each}}
                {{else}}
                    {{value}}
                {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}}{{/if}}
            {{else}}
                {{#if view.isDateType}}
                    <a {{action doEdit target="this" }}>{{date3 value}}</a>
                {{else}} {{#if view.isCascadeType}}
                    <a {{action doEdit target="this" }}>{{view.cascadeValue}}</a>
                {{else}} {{#if view.isOptionType}}
                    <a {{action doEdit target="this" }}>{{view FLOW.QuestionAnswerOptionListView contentBinding="view.optionValue"}}</a>
                {{else}}
                    <a {{action doEdit target="this" }}>{{value}}{{if_blank value}}</a>
                {{/if}} {{/if}} {{/if}}
            {{/if}}
        {{/if}}
    </td>
</tr>
