{{#view FLOW.AssignmentEditView}}
<section class="fullWidth" id="assignSurveys">
  <h1>Edit assignment</h1>
  <div class="">
     <a {{action "cancelEditSurveyAssignment" target="this"}} class="stepBack">Go back to assignment list</a>
    <form>
      <fieldset id="assignmentDetails">
        <h2>Assignment Details</h2>
        <label for="assignmentName">Assignment Name:</label>
         {{view Ember.TextField valueBinding="view.assignmentName" id="assignmentName" placeholder="Enter a name for this assignment" size=30}} 
        <div class="dateRange">
          <div class="activeDate">
            <label for="startDate">Start Date:</label>
           {{view FLOW.DateField valueBinding="FLOW.dateControl.fromDate" elementId="from_date"  size=30}} 
          </div>
          <div class="expireDate">
            <label for="expireDate">Expiration Date:</label>
           {{view FLOW.DateField valueBinding="FLOW.dateControl.toDate" elementId="to_date" size=30}} 
          </div>
        </div>
      </fieldset>
      <div class="fieldSetWrap">
        <fieldset id="surveySelect" class="formLeftPanel">
          <h2>Select Survey:</h2>
          <div class="">
          
            <label for="surveyGroup">Select Survey Group:</label>
            {{view Ember.Select 
      contentBinding="FLOW.surveyGroupControl.content" 
      selectionBinding="FLOW.selectedControl.selectedSurveyGroup" 
      optionLabelPath="content.code" 
      optionValuePath="content.keyId"
      id="surveyGroup"
      prompt="Select survey group"}}
           
          </div>
          <div class="">
            <nav>
              <ul>
                <li><a {{action selectAllSurveys target="this"}}>Select All</a></li>
                <li><a {{action deselectAllSurveys target="this"}}>Deselect All</a></li>
              </ul>
            </nav>
            <label for="surveys">Select Surveys:</label>
           {{view Ember.Select 
           multiple=true
           size=10
        contentBinding="FLOW.surveyControl.content" 
        selectionBinding="FLOW.selectedControl.selectedSurveys" 
        optionLabelPath="content.name" 
          id="surveys"
        optionValuePath="content.keyId"}} 
      <a {{action addSelectedSurveys target="this"}}  class="AddBtn">Add Selected Surveys</a>
          </div>
        </fieldset>
        <fieldset id="surveyPreview" class="formRightPanel">
          <h2>Preview Survey Selection:</h2>
          <div class="">
            <!-- DEVICES TABLE-->
            <table id="surveyPreviewList" class="previewList" >
              <!-- TABLE HEADER-->
              <thead>
                <tr>
                  <th class="groupPreview">Survey Group</th>
                  <th class="surveyPreview">Survey</th>
                  <th class="action"></th>
                </tr>
              </thead>
              <!-- TABLE BODY: MAIN CONTENT-->
              <tbody>
                {{#each survey in view.surveysPreview}}
                <tr>
                  <td class="groupPreview">{{survey.surveyGroupName}}</td>
                  <td class="surveyPreview"{{survey.name}}</td>
                  <td class="action"><a {{action "removeSingleSurvey" survey target="this"}} class="remove">remove</a></td>
                </tr>
                {{/each}}
              </tbody>
              <!-- TABLE FOOTER-->
              <tfoot>
                <tr>
                  <td colspan="7"><a {{action "removeAllSurveys" target="this"}}>Clear All</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </fieldset>
      </div>
    
    <div class="fieldSetWrap makeWhite">
        <fieldset id="devicesSelect" class="formLeftPanel">
          <h2>Select Devices:</h2>
          <div class="">
          <label for="deviceGroup">Select Device Group:</label>
          {{view Ember.Select 
      contentBinding="FLOW.deviceGroupControl.content" 
      selectionBinding="FLOW.selectedControl.selectedDeviceGroup" 
      optionLabelPath="content.code" 
      optionValuePath="content.keyId"
      id="deviceGroup"
      prompt="Select device group"}}
          </div>
          <div class="">
            <nav>
              <ul>
                <li><a {{action selectAllDevices target="this"}}>Select All</a></li>
                <li><a {{action deselectAllDevices target="this"}}>Deselect All</a></li>
              </ul>
            </nav>
          <label for="devices">Select Devices:</label>
          {{view Ember.Select 
           multiple=true
           size=10
        contentBinding="FLOW.devicesInGroupControl.content" 
        selectionBinding="FLOW.selectedControl.selectedDevices" 
        optionLabelPath="content.combinedName" 
        optionValuePath="content.keyId"
       id="devices"}} 
      <a {{action addSelectedDevices target="this"}} class="AddBtn">Add Selected Devices</a>
          </div>
        </fieldset>
        <fieldset id="devicesPreview" class="formRightPanel">
          <h2>Preview Device Selection:</h2>
          <div class="">
            <!-- DEVICES TABLE-->
            <table id="devicePreviewList" class="previewList" >
              <!-- TABLE HEADER-->
              <thead>
                <tr>
                  <th class="groupPreview">Device Group</th>
                  <th class="surveyPreview">Device</th>
                  <th class="action"></th>
                </tr>
              </thead>
              <!-- TABLE BODY: MAIN CONTENT-->
              <tbody>
                {{#each device in view.devicesPreview}}
                <tr>
                  <td class="deviceGroup">{{device.deviceGroupName}}</td>
                  <td class="deviceId">{{device.combinedName}}</td>
                  <td class="action"><a {{action "removeSingleDevice" device target="this"}} class="remove">remove</a></td>
                </tr>
                {{/each}}
              </tbody>
              <!-- TABLE FOOTER-->
              <tfoot>
                <tr>
                  <td colspan="7"><a {{action "removeAllDevices" target="this"}}>Clear All</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </fieldset>
      </div>
      <div class="menuConfirm">
        <ul>
          <li><a {{action "saveSurveyAssignment" target="this"}} class="standardBtn">Save Assignment</a></li>
          <li><a {{action "cancelEditSurveyAssignment" target="this"}} class="">Cancel</a></li>
        </ul>
      </div>
    </form>
  </div>
</section>
{{/view}}