  <header class="floats-in top" id="header" role="banner">
        <div>
            <hgroup>
                <h1>Akvo
                    <abbr title="field level operations watch">Flow</abbr></h1>
            </hgroup>
            <nav id="topnav" role="navigation">
                {{view FLOW.NavigationView controllerBinding="controller.controllers.navigationController"}}
            </nav>
    		<div class="loadSave">
					{{#if FLOW.savingMessageControl.areSavingBool}}<div class="isSaving">{{t _saving}}</div>
			{{else}}
			  {{#if FLOW.savingMessageControl.areLoadingBool}}<div class="isLoading">{{t _loading}}</div>
			  {{/if}}
			{{/if}}
			</div>
            {{view FLOW.HeaderView}}
            
        </div>
    </header>
    <div id="pageWrap">
        {{outlet}}
    </div>
  
    <div {{bindAttr class="FLOW.dialogControl.showDialog:display :overlay"}}>
      <div class="blanket"></div>
          <div class="dialogWrap">
        <!-- the dialog contents -->
        <div class="confirmDialog dialog">
          <h2>{{FLOW.dialogControl.header}}</h2>
          <p class="dialogMsg">{{FLOW.dialogControl.message}}</p>
          <br/><br/>
          <div class="buttons menuCentre"> 
            <ul>  
              {{#if FLOW.dialogControl.showOK}} <li><a {{action "doOK" target="FLOW.dialogControl"}} class="ok smallBtn">{{t _ok}}</a></li>{{/if}}
               {{#if FLOW.dialogControl.showCANCEL}} <li><a {{action "doCANCEL" target="FLOW.dialogControl"}}} class="cancel">{{t _cancel}}</a></li>{{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>

   {{view FLOW.FooterView}}