<div class="loadSave">
  {{#if FLOW.savingMessageControl.areSavingBool}}
    <div class="isSaving">{{t _saving}}</div>
  {{else}}
    {{#if FLOW.savingMessageControl.areLoadingBool}}
      <div class="isLoading">{{t _loading}}</div>
    {{/if}}
  {{/if}}
</div>
<header class="floats-in top" id="header" role="banner">
  <div>
    <h1>Akvo Flow</h1>
    <nav id="topnav" role="navigation" class="appNav">
      {{view FLOW.NavigationView controllerBinding="controller.controllers.navigationController"}}
    </nav>
    {{view FLOW.HeaderView}}
  </div>
</header>
{{outlet}}
<div><iframe id="downloader" style="display:none" width="0" height="0"></iframe></div>
<div {{bindAttr class="FLOW.dialogControl.showDialog:display :overlay"}}>
  <div class="blanket"></div>
  <div class="dialogWrap">
    <!-- the dialog contents -->
    <div class="confirmDialog dialog">
      <h2>{{FLOW.dialogControl.header}}</h2>
      <p class="dialogMsg">{{FLOW.dialogControl.message}}</p>
      <div class="spinner tick publishError">
        {{#if FLOW.dialogControl.showSpin}}<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>{{/if}}
        {{#if FLOW.dialogControl.showTick}}<i class="fa fa-check-circle-o fa-3x fa-fw"></i>{{/if}}
        {{#if FLOW.dialogControl.showError}}<i class="fa fa-exclamation-circle fa-3x fa-fw"></i>{{/if}}
      </div>
      <div class="buttons menuCentre">
        <ul>
          {{#if FLOW.dialogControl.showOK}} <li><a {{bindAttr class="FLOW.dialogControl.showOKDisabled:disabled :ok :smallBtn"}} {{action "doOK" target="FLOW.dialogControl"}}>{{t _ok}}</a></li>{{/if}}
          {{#if FLOW.dialogControl.showCANCEL}} <li><a {{action "doCANCEL" target="FLOW.dialogControl"}} class="cancel">{{t _cancel}}</a></li>{{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>
{{view FLOW.FooterView}}
