<div class="loadSave">
      {{#if FLOW.savingMessageControl.areSavingBool}}<div class="isSaving">{{t _saving}}</div>
      {{else}}
        {{#if FLOW.savingMessageControl.areLoadingBool}}<div class="isLoading">{{t _loading}}</div>
        {{/if}}
      {{/if}}
  </div>
  <header class="floats-in top" id="header" role="banner">
      <div class="widthConstraint">
          <h1>Akvo Flow</h1>
      </div>
  </header>
    <div id="pageWrap" class="widthConstraint belowHeader public">
        {{outlet}}
</div>

   {{view FLOW.FooterView}}