 <footer class="floats-in bottomPage smaller" role="contentinfo">
    <div class="widthConstraint">
	  <nav id="footerNav" class="floats-in footItems">
		<ul>
			<li class="footLink"><a href="/app2" target="_blank">{{t _download_flow_app}}</a></li>
			<li class="footLink"><a href="https://github.com/akvo/akvo-flow/releases" title="Go to News and Software Updates" target="_blank" > {{t _news_and_software_updates}}</a></li>
			<li class="footLink"><a href="http://flowsupport.akvo.org/" title="Support" target="_blank" > {{t _support}}</a></li>
			<li class="footLink"><a href="http://flowsupport.akvo.org/" title="Documentation and User Guides" target="_blank" >{{t _documentation_and_user_guides}}</a></li>
			<li class="footLink"><a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-flow-terms-of-use/" title="Terms of Service" target="_blank" >{{t _terms_of_service}}</a></li>
			<li class="footLink"><a href="http://www.akvo.org" title="akvo.org" target="_blank" class="akvoDotOrg">akvo.org</a></li>
      		<li><a href="/admin/logout.html" class="btnOutline">{{t _log_out}}</a></li>
		</ul>
	</nav>
  </div>
  <div><small>__VERSION__ - {{t _copyright}} &copy; 2012-2016 akvo.org</small></div>
</footer>
