 <footer class="floats-in bottomPage smaller" role="contentinfo">
    <div class="widthConstraint">
	  <nav id="footerNav" class="floats-in footItems">
		<ul>
			<li class="footLink"><a href="/app2" target="_blank">{{t _download_flow_app}}</a></li>
			<li class="footLink"><a href="https://github.com/akvo/akvo-flow/releases" title="Go to Software Updates" target="_blank" > {{t _software_updates}}</a></li>
			<li class="footLink"><a href="http://flowsupport.akvo.org/" title="Help and Support" target="_blank" > {{t _help_support}}</a></li>
			<li class="footLink"><a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-flow-terms-of-use/" title="Terms of Service" target="_blank" >{{t _terms_of_service}}</a></li>
		</ul>
		<ul>
			<li>
				<form>
				   <label class="languageSelector">
				   {{view Ember.Select
				      contentBinding="FLOW.dashboardLanguageControl.content"
				      optionLabelPath="content.label"
				      optionValuePath="content.value"
				      valueBinding="FLOW.dashboardLanguageControl.dashboardLanguage" }}
				   </label>
				</form>
			</li>
		</ul>
	</nav>
  </div>
  <div><small>__VERSION__ - {{t _copyright}} &copy; 2012-2017 <a href="http://www.akvo.org" title="akvo.org" target="_blank">akvo.org</a></small></div>
 <footer>
