<ul class="floats-in">
  {{#view view.NavItemView item="navSurveys" }}
    <a {{action doNavSurveys}}>{{t _surveys}}</a>
  {{/view}}
  {{#view view.NavItemView item="navDevices" }}
	{{#if view.showDevicesButton}}
    <a {{action doNavDevices}}>{{t _devices}}</a>
	{{/if}}
  {{/view}}
	{{#view view.NavItemView item="navData" }}
    <a {{action doNavData}}>{{t _data}}</a>
  {{/view}}
	{{#view view.NavItemView item="navReports" }}
    <a {{action doNavReports}}>{{t _reports}}</a>
  {{/view}}
  {{#if view.showMapsButton}}
  {{#view view.NavItemView item="navMaps" }}
    <a {{action doNavMaps}}>{{t _maps}}</a>
  {{/view}}
  {{/if}}
  {{#if FLOW.currentUser.showUserTab }}
	  {{#view view.NavItemView item="navUsers" }}
      <a {{action doNavUsers}}>{{t _users}}</a>
    {{/view}}
  {{/if}}
  {{#view view.NavItemView item="navMessages" }}
    <a {{action doNavMessages}}>{{t _messages}}</a>
  {{/view}}
</ul>
