 <ul class="floats-in">
        {{#view view.NavItemView item="navHome" }}
        <a {{action doNavHome}}>Home</a>
        {{/view}} {{#view view.NavItemView item="navSurveys" }}
        <a {{action doNavSurveys}}>Surveys</a>
        {{/view}} {{#view view.NavItemView item="navDevices" }}
        <a {{action doNavDevices}}>Devices</a>
        {{/view}} {{#view view.NavItemView item="navData" }}
        <a {{action doNavData}}>Data</a>
        {{/view}} {{#view view.NavItemView item="navReports" }}
        <a {{action doNavReports}}>Reports</a>
        {{/view}} {{#view view.NavItemView item="navMaps" }}
        <a {{action doNavMaps}}>Maps</a>
        {{/view}} {{#view view.NavItemView item="navUsers" }}
        <a {{action doNavUsers}}>Users</a>
        {{/view}} {{#view view.NavItemView item="navAdmin" }}
        <a {{action doNavAdmin}}>Admin</a>
        {{/view}}
    </ul>