 <div class="hero-unit">
        <h1>Admin</h1>
     

   <label>Dashboard language: {{view Ember.Select 
      contentBinding="FLOW.languageControl.content" 
      optionLabelPath="content.label" 
      optionValuePath="content.value" 
      selectionBinding="FLOW.languageControl.dashboardLanguage" }}
   </label>


    <label>Data server: {{view Ember.Select 
      contentBinding="FLOW.dataserverControl.content" 
      optionLabelPath="content.label" 
      optionValuePath="content.value" 
      selectionBinding="FLOW.dataserverControl.dataserver" }}
   </label>
    

    <h3>For later use</h3>
  	{{view Ember.Select 
			contentBinding="FLOW.surveyGroupControl.content" 
			selectionBinding="FLOW.selectedControl.selectedSurveyGroup" 
			optionLabelPath="content.displayName" 
			optionValuePath="content.keyId" 
			prompt="Select survey group"}} 

			{{view Ember.Select 
				contentBinding="FLOW.surveyControl.content" 
				selectionBinding="FLOW.selectedControl.selectedSurvey" 
				optionLabelPath="content.displayName" 
				optionValuePath="content.keyId" 
				prompt="Select survey"}} 

			{{view Ember.Select 
				contentBinding="FLOW.questionGroupControl.content" 
				selectionBinding="FLOW.selectedControl.selectedQuestionGroup" 
				optionLabelPath="content.displayName" 
				optionValuePath="content.keyId" 
				prompt="Select question group"}}<br>
				
				 SurveyGroup {{FLOW.selectedControl.selectedSurveyGroup.keyId}}<br>
                  Survey {{FLOW.selectedControl.selectedSurvey.keyId}}<br>
                  Question Group {{FLOW.selectedControl.selectedQuestionGroup.keyId}}<br><br>


    </div>