 <div class="">
        <h1>{{t _admin}}</h1>
     

   <label>{{t _dashboard_language}}: {{view Ember.Select 
      contentBinding="FLOW.dashboardLanguageControl.content" 
      optionLabelPath="content.label" 
      optionValuePath="content.value" 
      selectionBinding="FLOW.dashboardLanguageControl.dashboardLanguage" }}
   </label>


    <label>{{t _data_server}}: {{view Ember.Select 
      contentBinding="FLOW.dataserverControl.content" 
      optionLabelPath="content.label" 
      optionValuePath="content.value" 
      selectionBinding="FLOW.dataserverControl.dataserver" }}
   </label>
    

    <h3>{{t _for_later_use}}</h3>
  	{{view Ember.Select 
			contentBinding="FLOW.surveyGroupControl.content" 
			selectionBinding="FLOW.selectedControl.selectedSurveyGroup" 
			optionLabelPath="content.code" 
			optionValuePath="content.keyId" 
			prompt="Select survey group"}}

			{{view Ember.Select 
				contentBinding="FLOW.surveyControl.content" 
				selectionBinding="FLOW.selectedControl.selectedSurvey" 
				optionLabelPath="content.code" 
				optionValuePath="content.keyId" 
				prompt="Select survey"}} 

			{{view Ember.Select 
				contentBinding="FLOW.questionGroupControl.content" 
				selectionBinding="FLOW.selectedControl.selectedQuestionGroup" 
				optionLabelPath="content.code" 
				optionValuePath="content.keyId" 
				prompt="Select question group"}}<br>
				
				 {{t _survey_group}} {{FLOW.selectedControl.selectedSurveyGroup.keyId}}<br>
          {{t _survey}} {{FLOW.selectedControl.selectedSurvey.keyId}}<br>
          {{t _question_group}} {{FLOW.selectedControl.selectedQuestionGroup.keyId}}<br><br>




    </div>